{% extends '_layout2023' %}

{% if not currentUser %}
	{# {% exit 403 %} #}
	{% redirect '/?login=true' %}
{% endif %}

{% set versionNumber = 'rockstars-1.003' %}
{% set pageTitle = "My Account" %}
{% set entry = { slug: 'my-account', title: 'My Account', section: { handle: 'account' } } %}

{% set showCategoryNav = false %}

{% set rankingEntries = craft.rockstar.getRankEntries() %}
{% set rankingData = craft.rockstar.getCurrentUserRankedKeys() %}

{% block styles %}
    <link rel="stylesheet" href="{{ url('css/site2023.min.css') }}?version={{ versionNumber }}" /> 
    <link rel="stylesheet" href="{{ url('css/rockstars.css') }}?version={{ versionNumber }}" /> 
{% endblock %}

{% block content %}

	<div class="rockstars-container">

		<div class="col">
			<section class="my-account">
				<h2 style="text-wrap:nowrap;">Hey {{ currentUser.fullName }}!</h2>
				<h1>Your Account</h1>
				<p>
					<strong>Name:</strong> {{ currentUser.fullName }}
				</p>
				<p>
					<strong>Email:</strong> {{ currentUser.email }} (<strong><a title="Logout {{ currentUser.email }}" href="{{ url('logout') }}">Logout</a></strong>)
				</p>
			</section>
			
			<section>
				<h2 style="text-wrap:nowrap;">More Articles to Rank</h2>
				{% if rankingEntries | length %}
					{% for re in rankingEntries %}
						<article>
							<figure>
								{% if re.blogImage %}
									<img src="{{ re.blogImage.url }}" />
								{% endif %}
							</figure>
							<a href="{{re.entryUrl}}">{{re.entryTitle}}</a>
						</article>
					{% endfor %}
				{% else %}
					<article>You've visited all rankable articles. Nice work! </article>
				{% endif %}
			</section>
			
		</div>

		{% if rankingData | length %}
			<section class="col">
				{% set entryTitle = '' %}
				<h2>Articles You've Ranked</h2>
				{% for rd in rankingData %}
					{% if entryTitle != rd.entryTitle %}
						{% set entryTitle = rd.entryTitle %}
						{% if loop.index > 1 %}
							</div>
						{% endif %}
						<h3>
							<a href="{{ rd.entryUrl }}">
								{{ entryTitle }}
							</a>
						</h3>
						<div class="two-col">
					{% endif %}
					<p{% if rd.liked == 0 %} class="dislike"{% endif %}>
						{{ rd.value | length ? rd.value : rd.key }}
						{% include '_includes/icons' with { type: (rd.liked == 1 ? 'like' : 'dislike') } %}
					</p>
				{% endfor %}
				</div>
			</section>
		{% endif %}

	</div>

{% endblock %}