{% extends 'account/_layout' %}

{% set pageTitle = "My Account" %}
{% set entry = { slug: 'my-account', title: 'My Account', section: { handle: 'account' } } %}

{% set showCategoryNav = false %}

{% set rankingEntries = craft.rockstar.getRankEntries() %}
{% set rankingData = craft.rockstar.getCurrentUserRankedKeys() %}
{# {% set bulletinReplyCount = craft.rockstar.countCurrentUserBulletinReplies() %} #}
{% set bulletinPostExists = craft.rockstar.currentUserBulletinPostExists() %}
{% set userPosts = craft.rockstar.getCurrentUserBulletinPosts() %}

{% block content %}

	<div class="rockstars-container">

		<div class="col">
			<section class="my-account">
				<h2 style="text-wrap:nowrap;">Hey {{ currentUser.fullName }}!</h2>
				<h1>Your Account</h1>
				<p>
					<strong>Name:</strong> {{ currentUser.fullName }}
				</p>
				<p>
					<strong>Email:</strong> {{ currentUser.email }} (<strong><a title="Logout {{ currentUser.email }}" href="{{ url('logout') }}">Logout</a></strong>)
				</p>
				<p>
					{% if craft.bands.exists() %}
						<p>
							<a href="account/band">
								{% include '_includes/icons' with { type: 'guitar' } %}&nbsp;&nbsp;Edit your band
							</a>
						</p>
					{% else %}
						<p>
							<a href="account/band">
								{% include '_includes/icons' with { type: 'guitar' } %}&nbsp;&nbsp;Create your band
							</a>
						</p>
					{% endif %}
					{% if userPosts | length %}
						<h3>Your Posts</h3>
						{% for post in userPosts %}
							<p>
								<a href="/community/create-bulletin-post?post={{ post.id }}">
									{% include '_includes/icons' with { type: 'thumbtack' } %}
									&nbsp;
									{{ post.title }}
								</a>
							</p>
						{% endfor %}
					{% endif %}
					{# <p>
						<a href="/community/create-bulletin-post">
							{% include '_includes/icons' with { type: 'thumbtack' } %}
							&nbsp;
							{% if bulletinPostExists %}
								Edit your classified post
							{% else %}
								Create a classified post
							{% endif %}
						</a>
					</p>
					{% if bulletinReplyCount > 0 %}
						<p>
							<a href="/community/bulletin-replies">
								{% include '_includes/icons' with { type: 'message' } %}&nbsp;&nbsp;Classified replies ({{ bulletinReplyCount }})
							</a>
						</p>
					{% endif %} #}
				</p>
			</section>
			
			<section>
				<h2 style="text-wrap:nowrap;">More Articles to Rank</h2>
				{% if rankingEntries | length %}
					{% for re in rankingEntries %}
						<article>
							<figure>
								{% if re.blogImage %}
									<img src="{{ re.blogImage.url({ mode: 'fit', width: 150, quality: 80 }) }}" />
								{% endif %}
							</figure>
							<a href="{{re.entryUrl}}">{{re.entryTitle}}</a>
						</article>
					{% endfor %}
				{% else %}
					<article>You've visited all rankable articles. Nice work! </article>
				{% endif %}
			</section>
			
		</div>

		{% if rankingData | length %}
			<section class="col">
				{% set entryTitle = '' %}
				<h2>Articles You've Ranked</h2>
				{% for rd in rankingData %}
					{% if entryTitle != rd.entryTitle %}
						{% set entryTitle = rd.entryTitle %}
						{% if loop.index > 1 %}
							</div>
						{% endif %}
						<h3>
							<a href="{{ rd.entryUrl }}">
								{{ entryTitle }}
							</a>
						</h3>
						<div class="two-col">
					{% endif %}
					<p{% if rd.liked == 0 %} class="dislike"{% endif %}>
						{{ rd.value | length ? rd.value : rd.key }}
						{% include '_includes/icons' with { type: (rd.liked == 1 ? 'like' : 'dislike') } %}
					</p>
				{% endfor %}
				</div>
			</section>
		{% endif %}

	</div>

{% endblock %}