<div class="ask-a-question">
    {% if useH1 %}
        <h1>{{ headline }}</h1>
    {% else %}
        <h2>{{ headline }}</h2>
    {% endif %}
    <h2>{{ subheadline }}</h2>
    <p>{{ text | nl2br }}</p>
    {% if showButton %}
        {% if ctaUrl == 'http://ai-api' %}
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Your Question">
                <button type="submit" class="btn">Ask a Question</button>
            </form>
        {% else %}
            <a class="btn" href="{{ ctaUrl }}">Ask a Question</a>
        {% endif %}
    {% endif %}
</div>