{% set showLink = showLink is defined ? showLink : true %}
{% if blog.type == "external" %}
	{% set showLink = false %}
{% endif %}
{% if blog.fullName | length %} 
	<address rel="author">
		{% if showLink and blog.websiteUrl %}<a href="{{ blog.websiteUrl }}" target="_blank">{% endif %}
			{% if blog.writerPicture.count %}
				<img src="{{ blog.writerPicture.one().url('writerPicture') }}" alt="{{ blog.writerPicture.count }}">
			{% endif %}
			<span>By {{ blog.fullName }}</span>
		{% if showLink and blog.websiteUrl %}</a>{% endif %}
		<span> on {{ blog.postDate | date("M d, Y") }}</span>
	</address>
{% endif %}