{% set showLink = showLink is defined ? showLink : true %}
{% if blog.type == "external" %}
	{% set showLink = false %}
{% endif %}
{% if blog.fullName | length %} 
	<address rel="author">
		{% if showLink and blog.websiteUrl %}<a href="{{ blog.websiteUrl }}" target="_blank">{% else %}<span>{% endif %}
			{% if blog.writerPicture.count %}
				{% set writerPic = blog.writerPicture.one() %}
				<img src="{{ writerPic.url('writerPicture') }}" alt="{{ writerPic.title }}" title="{{ writerPic.title }}"{% if 'Band Pioneer' in writerPic.title or 'Exit 85' in writerPic.title %} style="border-radius:0;" {% endif %}>
			{% endif %}
			<span>
				<span>by {{ blog.fullName }} on {{ blog.postDate | date("M d, Y") }}</span>
				{% if blog.dateUpdated > blog.postDate | date_modify('+1 month') %}
					<br>
					<span>Updated on {{ blog.dateUpdated | date("M d, Y") }}</span>
				{% endif %}
			</span>
		{% if showLink and blog.websiteUrl %}</a>{% else %}</span>{% endif %}
	</address>
{% endif %}