{% set bands = craft.entries.section('bands').orderBy('lft ASC') %}
{% set aboveFooter = aboveFooter is defined ? aboveFooter : false %}

{% if bands.count %}
	 {% cache globally %}
		<section class="bands{% if aboveFooter %} above-footer{% endif %}">
			<div class="band-carousel">
				<div class="band-slider">
					{% for band in bands.all() %}
						<div class="slide">
							{% set img = band.bandImage.one() %}
							{% set transform = enlarged ? 'bandCarousel' : 'bandCarouselSmall' %}

							{% set smallImgUrl = img.url('bandCarouselSmall') %}
							{% set smallImgWid = img.width('bandCarouselSmall') %}
							{% set smallImgHei = img.height('bandCarouselSmall') %}

							{% if enlarged %}
								{% set imgUrl = img.url('bandCarousel') %}
								{% set imgWid = img.width('bandCarousel') %}
								{% set imgHei = img.height('bandCarousel') %}
								<img src="{{ smallImgUrl }}"
									title="{{ band.shortDescription }}"
								 	alt="{{ band.shortDescription }}"
								 	loading="eager"
									srcset="{{ smallImgUrl }} {{ smallImgWid }}w, {{ imgUrl }} {{ imgWid }}w" 
									sizes="(max-width: 767px) {{ smallImgWid }}px, {{ imgWid }}px"
									width="{{ imgWid }}" height="{{ imgHei }}">
							{% else %}
								<img src="{{ smallImgUrl }}" alt="{{ band.shortDescription }}" title="{{ band.shortDescription }}" loading="eager"
									width="{{ smallImgWid }}" height="{{ smallImgHei }}">
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endcache %}
{% endif %}