{% set sectionTitle = entry.title %}

{% set tocLinks = [] %}

{% for module in entry.blogContent.all() %}
	{% if module.type == 'sectionTitle' %}
		{% set tocLinks = tocLinks | merge([{ id: module.id, headline: module.headline }]) %}
	{% endif %}
{% endfor %}

{% if tocLinks | length > 1 %}
	<div class="table-of-contents">
		<h3 class="section-title"><span>Table of Contents</span></h3>
		<ul>
			{% for tl in tocLinks %}
				<li>
					{% if tl.headline | first matches '/^\\d+$/' %}
						<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
					{% else %}
						<a href="#section-{{ tl.id }}">{{ loop.index }}. {{ tl.headline }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% set sectionCounter = 0 %}

{% for module in entry.blogContent.all() %}

	{% switch module.type %}

		{% case "sectionTitle" %}

			{% set sectionCounter = sectionCounter + 1 %}
			{% set sectionTitle = module.headline %}
			
			<section>
				<div id="section-{{ module.id }}" class="section-anchor"></div>
				{% if entry.change %}
					<div class="ordered-title">
						<h4>{{ sectionCounter }}. </h4><h2>{{ module.headline }}</h2>
					</div>
				{% else %}
					<h2>{{ module.headline }}</h2>
				{% endif %}
				{% if module.subheadline | length %}
					<h3>{{ module.subheadline }}</h3>
				{% endif %}
			</section>

		{% case "image" %}

			<section>
				{% if module.linkUrl | length %}
					<a href="{{ module.linkUrl }}"{% if 'bandpioneer' not in module.linkUrl %} target="_blank"{% endif %}>
				{% endif %}
				{% if module.size | number < 100 %} 
					<style type="text/css">
						@media (min-width: 375px) {
							#blog-img{{ module.id }} {
								width:80%;
							}
						}
						@media (min-width: 576px) {
							#blog-img{{ module.id }} {
								width:{{ module.size }}%;
							}
						}
					</style>
				{% endif %}
				<figure id="blog-img{{ module.id }}" class="image {{ module.margins }}">
					<img src="{{ module.blogImage.one().url('blogImage') }}" alt="{{ module.blogImage.one().title }}" width="{{ module.blogImage.one().width('blogImage') }}" height="{{ module.blogImage.one().height('blogImage') }}">
					{% if module.caption | length %}
						<figcaption>{{ module.caption }}</figcaption>
					{% endif %}
				</figure>
				{% if module.linkUrl | length %}</a>{% endif %}
			</section>

		{% case "embedCode" %}

			<section class="rich-text">
				{{ module.markup | raw }}
			</section>

		{% case "text" %}

			<section class="rich-text">
				{{ module.richText }}
			</section>

		{% case "video" %}

			<section>
				<figure class="video">
					<div class="player">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ module.youtubeId }}" title="{{ sectionTitle }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					{% if module.caption | length %}
						<figcaption>{{ module.caption }}</figcaption>
					{% endif %}
				</figure>
			</section>

	{% endswitch %}
{% endfor %}