{% set sectionTitle = entry.title %}

{% set tocLinks = [] %}

{% if entry.tocStyle == 'nested-list' or entry.tocStyle == 'nested-ordered-list' %}

	{% set parent = null %}
	{% set children = [] %}

	{% for module in entry.blogContent.all() %}
		{% if module.type == 'sectionTitle' %}

			{% set isParent = (module.headline | trim | length) %}

			{% set modHeadline = module.headline | trim | length == 0 ? module.subheadline : module.headline %}

			{% if isParent %}

				{% if parent != null %}
					{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
				{% endif %}

				{% set parent = { id: module.id, headline: modHeadline } %}
				{% set children = [] %}

			{% else %}

				{% set children = children | merge([{ id: module.id, headline: modHeadline }]) %}

			{% endif %}

		{% endif %}
	{% endfor %}

	{% if parent != null %}
		{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
	{% endif %}

{% else %}

	{% for module in entry.blogContent.all() %}
		{% if module.type == 'sectionTitle' and (module.headline | trim | length or module.subheadline | trim | length) %}
			{% set modHeadline = module.headline | trim | length == 0 ? module.subheadline : module.headline %}
			{% set tocLinks = tocLinks | merge([{ id: module.id, headline: modHeadline }]) %}
		{% endif %}
	{% endfor %}

{% endif %}

{% if tocLinks | length > 1 %}
	{% set childCount = 0 %}
	{% set openFirstChild = ('expanded' in entry.tocDefault.value) %}
	<div class="table-of-contents {% if tocLinks | length > 10 %} compressed-list{% endif %}">
		<h3 class="section-title"><span>Table of Contents</span></h3>
		<ul>
			{% for tl in tocLinks %}
				<li>
					{% if tl.children is defined %}
						<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
						{% if tl.children | length %}
							{% if openFirstChild %}
								{% set openFirstChild = (entry.tocDefault.value == 'expanded') %}
								<input type="checkbox" id="child-{{ tl.id }}" checked=true />
							{% else %}
								<input type="checkbox" id="child-{{ tl.id }}" />
							{% endif %}
							<label for="child-{{ tl.id }}">{% include '_includes/icons' with { type: 'down' } %}</label>
							<ul>
								{% for child in tl.children %}
									<li>
										{% if entry.tocStyle == 'nested-ordered-list' %}
											{% set childCount = childCount + 1 %}
											<a href="#section-{{ child.id }}">{{ childCount }}. {{ child.headline }}</a>
										{% else %}
											{% set firstCharacter = child.headline | slice(0, 1) %}
											{% set liText = (firstCharacter is numeric or firstCharacter == '#') ? child.headline : (loop.index ~ '. ' ~ child.headline) %}
											<a href="#section-{{ child.id }}">{{ liText }}</a>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% else %}
						<a href="#section-{{ tl.id }}">{{ loop.index }}. {{ tl.headline }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% set sectionCounter = 0 %}

{% for module in entry.blogContent.all() %}

	{% switch module.type %}

		{% case "sectionTitle" %}

			{% set sectionCounter = sectionCounter + 1 %}
			{% set sectionTitle = module.headline %}
			
			<section>
				<div id="section-{{ module.id }}" class="section-anchor"></div>
				{% if entry.change %}
					{% if  module.headline | length %}
						<div class="ordered-title">
							<h4>{{ sectionCounter }}. </h4><h2>{{ module.headline }}</h2>
						</div>
					{% elseif  module.subheadline | length %}
						<div class="ordered-subtitle">
							<h4>{{ sectionCounter }}. </h4><h3>{{ module.subheadline }}</h3>
						</div>
					{% endif %}
				{% else %}
					{% if  module.headline | length %}
						<h2>{{ module.headline }}</h2>
					{% endif %}
					{% if  module.subheadline | length %}
						<h3>{{ module.subheadline }}</h3>
					{% endif %}
				{% endif %}
			</section>

		{% case "image" %}

			<section>
				{% if module.linkUrl | length %}
					<a href="{{ module.linkUrl }}"{% if 'bandpioneer' not in module.linkUrl %} target="_blank"{% endif %}>
				{% endif %}
				{% if module.size | number < 100 %} 
					<style type="text/css">
						@media (min-width: 375px) {
							#blog-img{{ module.id }} {
								width:80%;
							}
						}
						@media (min-width: 576px) {
							#blog-img{{ module.id }} {
								width:{{ module.size }}%;
							}
						}
					</style>
				{% endif %}
				<figure id="blog-img{{ module.id }}" class="image {{ module.margins }}">
					{% if module.noTransform %}
						{% set imgUrl = module.blogImage.one().url() %}
						{% set imgWid = module.blogImage.one().width() %}
						{% set imgHei = module.blogImage.one().height() %}
					{% else %}
						{% set imgUrl = module.blogImage.one().url('blogImageMobile') %}
						{% set imgWid = module.blogImage.one().width('blogImageMobile') %}
						{% set imgHei = module.blogImage.one().height('blogImageMobile') %}
					{% endif %}
					{# <img loading="lazy" src="{{ imgUrl }}" alt="{{ module.blogImage.one().title }}" width="{{ imgWid }}" height="{{ imgHei }}"> #}
					<img src="{{ module.blogImage.one().url('blogImageMobile') }}"
						 	alt="{{ module.blogImage.one().title }}"
						 	loading="lazy" 
							srcset="{{ module.blogImage.one().url('blogImageMobile') }} 576w, {{ module.blogImage.one().url('blogImage') }} 800w" 
							sizes="(max-width: 576px) 100vw, 800px"
							width="{{ imgWid }}" height="{{ imgHei }}">
					{% if module.caption | length %}
						<figcaption>{{ module.caption }}</figcaption>
					{% endif %}
				</figure>
				{% if module.linkUrl | length %}</a>{% endif %}
			</section>

		{% case "embedCode" %}

			<section class="embed-code">
				{{ module.markup | raw }}
			</section>

		{% case "text" %}

			<section class="rich-text">
				{{ module.richText }}
			</section>

		{% case "video" %}

			<section>
				<figure class="video">
					<div class="player">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ module.youtubeId }}" title="{{ sectionTitle }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					{% if module.caption | length %}
						<figcaption>{{ module.caption }}</figcaption>
					{% endif %}
				</figure>
			</section>

	{% endswitch %}
{% endfor %}