{% cache %}
<div id="category-menu" class="categories display-md">
	<div class="container">
		<nav role="navigation" aria-label="Primary Navigation">
			<ul>
				{% for cat in categories.all() %}
					{% if cat.show %}
						<li>
							<a class="underline{% if entry.slug == cat.slug %} active{% endif %}" href="{{ cat.url() }}" data-id="{{ cat.id }}" data-description="<a href={{ cat.url }}><h3>{{ cat.headline }}</h3>{{ cat.shortDescription }}</a>">
								<span>{{ cat.title }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
				<li>
					<a class="underline{% if entry.slug == 'quick-tips' %} active{% endif %}" href="/quick-tips" data-id="quick-tips" data-description="<a href='/quick-tips'><h3>Quick Tips</h3>Need reliable answers fast? We've compiled a library of concise and practical answers, to frequently asked music questions, to provide you with quick access to essential insights, tips, and reviews, without the laborious searching.</a>">
						<span>Quick Tips</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div id="category-description">
		<div class="container">
		</div>
	</div>
</div>
{% endcache %}