<header class="site-header">

    <div class="container">
        <a href="/" class="logo">
            <img loading="eager" class="logo-alt" src="{{ url('assets/images/bp-logo-alt-small.png') }}" alt="Band Pioneer" title="Band Pioneer" width="193" height="60" />
            {% if entry.section.handle == 'homepage' %}
                <img loading="eager" class="logo-mark" src="{{  url('assets/images/bp-mark.png') }}" alt="Band Pioneer" title="Band Pioneer" width="60" height="60" />
            {% endif %}
        </a>
        <a id="open-menu" href="/" class="bars">
            {% include '_includes/icons' with { type: 'bars' } %}
        </a>
        <nav id="main-menu" class="main-menu" role="navigation" aria-label="Secondary Navigation">
            <a id="close-menu" href="/" class="close-menu">
                {% include '_includes/icons' with { type: 'close' } %}
            </a>
            <ul>
                <li>
                    <a href="/" class="underline" title="Band Pioneer Homepage">Home</a>
                </li>
                <li class="hide-mobile dropdown-menu">
                    <a class="underline" title="About Band Pioneer">About {% include '_includes/icons' with { type: 'down' } %}</a>
                    <ul>
                        <li>
                            <a class="underline" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="underline" href="/privacy">Privacy</a>
                        </li>
                    </ul>
                </li>
                <li class="hide-desktop">
                    <a href="/" class="underline" href="/about">About Us</a>
                </li>
                <li class="hide-desktop">
                    <a href="/" class="underline" href="/privacy">Privacy Policy</a>
                </li>
                {% cache globally %}
                    <li class="hide-mobile dropdown-menu">
                        <a class="underline" title="Blog Topics">Topics {% include '_includes/icons' with { type: 'down' } %}</a>
                        <ul>
                            {% for cat in categories.all() %}
                                {% if cat.show %}
                                    <li>
                                        <a class="underline" href="{{ cat.url }}">{{ cat.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endcache %}
                {# <li><a class="underline" href="{{ (currentUser ? '/bands' : '/electronic-press-kit') }}" title="Privacy Policy">EPK</a></li> #}
                <li class="hide-mobile dropdown-menu">
                    <a class="underline" title="Choose Your Own Adventure">Instruments{% include '_includes/icons' with { type: 'down' } %}</a>
                    <ul id="adventure-menu">
                        <li>
                            <h4>Choose Your Own Adventure</h4>
                            <span>Pick your primary role?</span>
                        </li>
                        <li>
                            <a class="underline" href="/bands/my-adventure?role=singer">Vocalist</a>
                        </li>
                        <li>
                            <a class="underline" href="/bands/my-adventure?role=guitarist">Guitarist</a>
                        </li>
                        <li>
                            <a class="underline" href="/bands/my-adventure?role=bassist">Bassist</a>
                        </li>
                        <li>
                            <a class="underline" href="/bands/my-adventure?role=drummer">Drummer</a>
                        </li>
                        <li class="data-loaded">
                            <a class="underline" href="/bands/my-adventure">Resume Your Adventure</a>
                        </li>
                    </ul>
                </li>
                <li><a class="underline" href="/" onclick="bp.signUp(); return false;" title="Subscribe to our newsletter">Subscribe</a></li>
                <li><a class="underline" href="/contact" title="How to Contact Us">Contact</a></li>
                {% cache globally %}
                    {% for cat in categories.all() %}
                        {% if cat.show %}
                            <li class="hide-md">
                                <a class="underline" href="{{ cat.url }}">{{ cat.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endcache %}
                <li class="display-md">
                    <form method="get" action="/search">
                        <a id="search" href="/">
                            {% include '_includes/icons' with { type: 'search' } %}
                            <input type="text" name="q" placeholder="Enter your question...">
                        </a>
                    </form>
                </li>
            </ul>
        </nav>
    </div>

    {% if entry.section.handle == 'blog' %}
        <div class="reading-time"><div id="reading-progress" class="reading-progress"></div></div>
    {% endif %}
</header>