{% extends '_layout2023' %}

{% block styles %}
	{% if entry.showImageCarousel %}
    	<link rel="stylesheet" href="{{ url('css/homepage2023.css') }}?version={{ versionNumber }}" /> 
    {% else %}
    	{{ parent() }}
    {% endif %}
{% endblock %}

{% block scripts %}
	{% if entry.showImageCarousel %}
		<script defer>
            document.addEventListener("DOMContentLoaded", function()
            {
                if (typeof(bp) !== undefined)
                {
                	bp.createBandCarousels();
                }
            });
        </script>
	{% endif %}
{% endblock %}

{% block header %}
	<section {% if entry.heroImage.count %}class="rich-text bkg-img" style="background-image:url({{ entry.heroImage.one().url }})"{% else %}class="rich-text"{% endif %}>
		<div class="container">
			{% if entry.headline | length %}
				<h1>{{ entry.title }}</h1>
			{% endif %}
			{% if entry.headline | length %}
				<h2>{{ entry.headline }}</h2>
			{% endif %}
			{% if entry.subheadline | length %}
				<h4>{{ entry.subheadline }}</h4>
			{% endif %}
		</div>
	</section>
{% endblock %}

{% block content %}

	{% if entry.showImageCarousel %}
		{% include '_includes/band-carousel' with { enlarged: true } %}
	{% endif %}

	{% if entry.contentLayout == "zPattern" %}

		<div class="container">
			<section class="z-pattern">
				<div>
					{% if entry.longText | length %}
						{{ entry.longText }}
					{% endif %}
				</div>
				<div>
					<figure>
						{% if entry.pageImage.count %}
							<img src="{{ entry.pageImage.one().url }}" alt="{{ entry.pageImage.one().title }}">
						{% else %}
							<img src="assets/images/band-pioneer-bkg.jpg" alt="Band Pioneer">
						{% endif %}
					</figure>
				</div>
			</section>

			<section class="z-pattern">
				<div>
					{% if entry.pageImage2.count %}
						<figure>
							<img src="{{ entry.pageImage2.one().url }}" alt="{{ entry.pageImage2.one().title }}">
						</figure>
					{% else %}
						<figure class="circle">
							<img src="assets/images/jack-exit85-taphouse.jpg" alt="Jack Sutherland">
							<figcaption><a href="https://www.jacksutherland.com" target="_blank">Jack Sutherland<br>Founder & Developer</a></figcaption>
						</figure>
					{% endif %}
				</div>
				<div>
					{% if entry.longText2 | length %}
						{{ entry.longText2 }}
					{% endif %}
				</div>
			</section>
		</div>

	{% elseif entry.longText | length %}

		<section class="rich-text">
			<div class="container">
				
				{% if entry.longText | length %}
					{{ entry.longText }}
				{% endif %}

				{% for img in entry.pageImage.all() %}
					<section>
						<figure>
						 	<source srcset="{{ img.url("richTextWidth") }}, {{ img.url('richTextWidth2x') }} 2x" media="(min-width: 768px)" />
							<img src="{{ img.url('fullWidthMobile') }}"
								srcset="{{ img.url('fullWidthMobile2x') }} 2x"
							 	alt="{{ img.title }}"
							 	loading="lazy"
								width="{{ img.width('fullWidthMobile') }}" height="{{ img.height('fullWidthMobile') }}">	
						</figure>
					</section>
				{% endfor %}

				{% if entry.longText2 | length %}
					{{ entry.longText2 }}
				{% endif %}

			</div>
		</section>

	{% endif %}

{% endblock %}