{% extends 'account/_layout' %}

{% set allowAnonymous = true %}

{% set entry = { slug: 'bulletin-board', title: 'Musician Classifieds', section: { handle: 'bulletin-board' } } %}
{% set posts = craft.rockstar.getBulletinBoardPosts(25) %}
{% set bulletinPostExists = craft.rockstar.currentUserBulletinPostExists() %}

{% block content %}

	<section class="page-header bulletin-board-header">
		<div class="container">
			<div class="two-col">
				<h1>
					<a href="/community/bulletin-board" title="Musician Classifieds">
						{% include '_includes/icons' with { type: 'thumbtack' } %}
					</a> 
					Musician Classifieds
				</h1>
				<a class="btn small" {% if currentUser %}href="/community/create-bulletin-post"{% else %}href="/" onclick="return bp.login('Sign in to create a post');"{% endif %}>
					{% include '_includes/icons' with { type: 'plus' } %} {% if bulletinPostExists %}Edit Your Post{% else %}Create a Post{% endif %}
				</a>
			</div>
			<h3>(Beta Version: 1.10)</h3>
			<h4>Are you looking to join a band, start a band, or find musicians to collaborate with on a project? Browse the posts on this page to connect with other musicians with similar interests and start making music together! Or post details about your skillset, music projects, and the type of collaborations you're working on to help others find you.</h4>
			<p class="mobile-btn">
				<a class="btn small" {% if currentUser %}href="/community/create-bulletin-post"{% else %}href="/" onclick="return bp.login('Sign in to create a post');"{% endif %}>
					{% include '_includes/icons' with { type: 'plus' } %} {% if bulletinPostExists %}Edit Your Post{% else %}Create a Post{% endif %}
				</a>
			</p>
		</div>
	</section>

	<div class="rockstars-container bulletin-board">

		<div class="col">

			{% for post in posts %}
				<a {% if currentUser %}href="/community/bulletin-post/{{ post.slug }}"{% else %}href="/" onclick="return bp.login('Sign in to view this');"{% endif %} title="Reply to this post?">
					<section>
						{% include '_includes/icons' with { type: 'thumbtack' } %}
						<div>
							{% if currentUser and currentUser.id == post.userId %}
								<h5>Your Post</h5>
							{% else %}
								{% switch post.type %}
									{% case 'promotion' %}
										<h5>Artist Promotion</h5>
									{% case 'management' %}
										<h5>Band Management</h5>
									{% case 'members' %}
										<h5>Band Members</h5>
									{% case 'composition' %}
										<h5>Music Composition</h5>
									{% case 'lessons' %}
										<h5>Music Lessons</h5>
									{% case 'marketing' %}
										<h5>Music Marketing</h5>
									{% case 'production' %}
										<h5>Music Production</h5>
									{% default %}
										<h5>Collaboration</h5>
								{% endswitch %}
							{% endif %}
							{% if post.medium == 'physical' and post.location | length %}
								<h5>({{ post.location }})</h5>
							{% elseif post.medium == 'virtual' %}
								<h5>(Virtual/Remote)</h5>
							{% endif %}
							<span>{{ post.daysAgo }}</span>
							<span class="bubble">
								{% include '_includes/icons' with { type: 'message' } %} {{ post.replyCount }}
							</span>
						</div>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
					</section>
				</a>
			{% endfor %}
		</div>

	</div>

{% endblock %}