{% extends 'account/_layout' %}

{% set allowAnonymous = true %}

{% set entry = { slug: 'bulletin-board', title: 'Musician Classifieds', section: { handle: 'bulletin-board' } } %}
{% set postLimit = 25 %}
{% set filter = craft.app.request.getQueryParam('filter') ?? '' %}
{% set posts = filter == 'user' ? craft.rockstar.getCurrentUserBulletinPosts(postLimit) : craft.rockstar.getBulletinBoardPosts(postLimit) %}
{% set bulletinPostExists = craft.rockstar.currentUserBulletinPostExists() %}

{% block content %}

	<section class="page-header bulletin-board-header">
		<div class="container">
			<div class="two-col">
				<h1>
					{% if filter == 'user' %}
						<a href="/community/classifieds?filter=user" title="Your Classified Posts">
							{% include '_includes/icons' with { type: 'thumbtack' } %}
						</a> 
						Your Classified Posts
					{% else %}
						<a href="/community/classifieds" title="Musician Classifieds">
							{% include '_includes/icons' with { type: 'thumbtack' } %}
						</a> 
						Musician Classifieds
					{% endif %}
				</h1>
				<a class="btn small" {% if currentUser %}href="/community/create-bulletin-post"{% else %}href="/" onclick="return bp.login('Sign in to create a post');"{% endif %}>
					{% include '_includes/icons' with { type: 'plus' } %} Create a Post
				</a>
			</div>
			<h3 style="margin-top:3px;">(Beta Version: 1.10)</h3>
			<h2>Private conversations with other musicians</h2>
			<h4>Whether you're looking for band members, searching for musicians to collaborate with, or seeking advice, post it here, and we'll help connect you with others who can assist.</h4>
			<p class="mobile-btn">
				<a class="btn small" {% if currentUser %}href="/community/create-bulletin-post"{% else %}href="/" onclick="return bp.login('Sign in to create a post');"{% endif %}>
					{% include '_includes/icons' with { type: 'plus' } %} Create a Post
				</a>
			</p>
		</div>
	</section>

	<div class="rockstars-container bulletin-board">

		<div class="col">

			{% for post in posts %}
				{% set postUrl = (currentUser and currentUser.id == post.userId and post.status == 'new') ? '/community/create-bulletin-post?post=' ~ post.id : '/community/bulletin-post/' ~ post.slug %}
				<a {% if currentUser %}href="{{ postUrl }}"{% else %}href="/" onclick="return bp.login('Sign in to view this');"{% endif %} title="Reply to this post?">
					<section>
						{% if currentUser and currentUser.id == post.userId %}
							<span class="post-icon user">
								{% include '_includes/icons' with { type: 'user' } %} 
							</span>
						{% else %}
							<span class="post-icon thumbtack">{% include '_includes/icons' with { type: 'thumbtack' } %}</span>
						{% endif %}
						<div>
							{% switch post.type %}
								{% case 'promotion' %}
									<h5>Artist Promotion</h5>
								{% case 'management' %}
									<h5>Band Management</h5>
								{% case 'members' %}
									<h5>Band Members</h5>
								{% case 'advice' %}
									<h5>Music Advice</h5>
								{% case 'composition' %}
									<h5>Music Composition</h5>
								{% case 'lessons' %}
									<h5>Music Lessons</h5>
								{% case 'marketing' %}
									<h5>Music Marketing</h5>
								{% case 'production' %}
									<h5>Music Production</h5>
								{% default %}
									<h5>Collaboration</h5>
							{% endswitch %}
							{% if post.medium == 'physical' and post.location | length %}
								<h5>({{ post.location }})</h5>
							{% elseif post.medium == 'virtual' %}
								<h5>(Virtual/Remote)</h5>
							{% endif %}
							<span>{{ post.daysAgo }}</span>
							<span class="bubble">
								{% include '_includes/icons' with { type: 'message' } %} {{ post.replyCount }}
							</span>
						</div>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
					</section>
				</a>
			{% endfor %}
		</div>

	</div>

{% endblock %}