{% extends '/_layout' %}

{### INITIAL VARIABLES ###}

{% set slug = 'ai-studio' %}
{% set versionNumber = 1.90 %}
{% set maxRoles = 3 %}
{% set maxSkills = 1 %}
{% set maxGoals = 2 %}
{% set skillGoal = 'improve my skill' %}
{% set financeGoal = 'make money with music' %}
{% set marketingGoal = 'market and promote my music' %}
{% set socialMediaGoal = 'influence on social media' %}

{### DYNAMIC KEYWORD ###}

{% set segments = craft.app.request.segments %}
{% set keyword = segments | last == slug ? '' : segments | last %}

{### PAGE TITLE AND ENTRY ###}

{% set seoDescription = "Music Industry Insights and Marketing Tips for Profitable Musicians" %}

{% if keyword | length %}

	{% set usingKeyword = true %}
	{% set keywordQuery = segments[segments | length - 2] %}
	{% set pageTitle = keyword | replace({'-': ' '}) | title %}
	{% set seoTitle = pageTitle %}

	{% set keywordPath = segments | slice(-2) | join('/') %}
	{% set keywordSubtitle = craft.bands.getKeywordTitle(keywordPath) %}
	{% set keywordBody = craft.bands.getKeywordBody(keywordPath) %}
	{% set keywordBodySentences = keywordBody | split('.') %}
	{% set seoDescription = craft.bands.getKeywordDescription(keywordPath) %}

	{% set recentArticles = craft.entries.section('blog').search({query: keywordQuery}).limit(4).orderBy('score') %}

{% else %}

	{% set usingKeyword = false %}
	{% set pageTitle = "My Studio" %}
	{% set seoTitle = "Music Info Customized For You" %}
	{# {% set seoDescription = "Music Industry Insights and Marketing Info for Profitable Musicians" %} #}

	{### INITIAL FILTERS AND ARTICLES ###}

	{% set initialRole = craft.app.request.getQueryParam('role') ?? '' %}
	{% set roles = craft.entries.section('roles') %}

	{% if initialRole | length > 0 %}
		{% set recentArticles = craft.entries.section('blog').search({query: initialRole}).limit(2).orderBy('score') %}
	{% endif %}
	{% set initialArticlesAreForRole = (initialRole | length > 0 and recentArticles.count > 0) %}
	{% if initialRole | length == 0 or recentArticles.count == 0 %}
		{% set recentArticles = craft.entries.section('blog').limit(2).orderBy('postDate DESC') %}
	{% endif %}

{% endif %}

{% set entry = { slug: slug, title: seoTitle, section: { handle: slug }, metaDescription: seoDescription, seoImageUrl: '/assets/images/band-pioneer-og.jpg' } %}

{### PAGE STYLES ###}

{% block headerScripts %}
	{% if usingKeyword %}
		<meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName | e('html') }}">
		<meta name="csrf-token-value" content="{{ craft.app.request.csrfToken | e('html') }}">
	{% endif %}
	<style type="text/css">
		.studio-title {
			display: none;
			margin: 40px 0 -10px 0 !important;
		}
		.studio-title.show {
			display: block
		}
		.studio-tips {
		    margin: 0 auto 40px auto;
		    padding: 25px;
		    border: solid 2px #e7ebec;
		    background-color: #f7f7f7;
		    border-radius: 4px;
		    max-width: 800px;
		}
		.studio-tips h3 {
			margin: 0 auto 25px auto;
			max-width: 800px;
			text-transform: capitalize;
		}
		.studio-tips h3 + strong {
			display: block;
			margin: -10px auto 25px auto;
		}
		.studio-tips p {
			margin: 0 auto;
			max-width: 800px;
		}
		#tips-spinner {
			display: none;
			text-align: center;
		    margin: 70px 0 0 0;
		    opacity: 0;
		    transition: opacity 0.5s;
		}
		#tips-spinner.show {
			opacity: 1;
		}
		#tips-spinner strong {
			color: #6f6f6f;
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
		#tips-spinner svg {
			vertical-align: middle;
		}
		#filter-next {
			margin-top: 20px;
			background-color: #2898CB;
		}
		#filter-next:hover {
			background-color: #0a79a4;
		}
		.blog-posts[data-count="1"] {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		.blog-posts[data-count="1"] article {
			max-width: 600px;
		}
		@media (min-width: 768px) {
			.studio-title {
				margin: 80px 0 10px 0 !important;
			}
		}
	</style>
{% endblock %}

{### PAGE SCRIPTS ###}

{% block scripts %}
	<script defer src="{{ url('js/studio.min.js') }}?version={{ versionNumber }}"></script>
	<script defer type="text/javascript">
		document.addEventListener("DOMContentLoaded", function()
        {
        	const goalObj = {
        		skill: '{{ skillGoal }}',
        		finance: '{{ financeGoal }}',
        		marketing: '{{ marketingGoal }}',
        		socialMedia: '{{ socialMediaGoal }}'
        	};

        	{% if usingKeyword %}
				const keyObj = {
					keyword: '{{ keyword }}',
					query: '{{ keywordQuery }}',
					title: '{{ pageTitle }}',
					path: '{{ keywordPath }}',
					subtitle: '{{ keywordSubtitle }}',
					body: '{{ keywordBody | escape("js") }}'
				};

        		new Studio('', {{ maxRoles }}, {{ maxSkills }}, {{ maxGoals }}, goalObj, keyObj);
        	{% else %}
				new Studio('{{ initialRole }}', {{ maxRoles }}, {{ maxSkills }}, {{ maxGoals }}, goalObj);
        	{% endif %}
		});
	</script>
{% endblock %}

{% block content %}
	
	{% if usingKeyword %}
		{% include '_includes/categories' with { categories: craft.entries.section('topics') } %}
	{% else %}
		{% include 'ai-studio/_includes/filters' %}
	{% endif %}

	{# <div class="page"> #}
		<div class="container page">
			<section class="description">
				<h2>
					<span id="intro-role">Your Custom Music Persona</span>
				</h2>

				{### EZOIC ai-in-content ###}
				<div class="advert"><div id="ezoic-pub-ad-placeholder-147"></div></div>
				
				<div class="narrow-container">
					<p id="intro-description"><strong>Customized music tips and info.</strong><br>Follow the steps above to select <strong>your instrument or role</strong>, <strong>your skill level</strong>, and <strong>your music goals</strong>. Then click <strong>"Go!"</strong> to create a custom music journey map, specifically for you.</p>
					<div id="intro-spinner">
						{% include '_includes/icons' with { type: 'spinner' } %}
					</div>
				</div>
				
			</section>

			{### EZOIC ai-in-content ###}
			<div class="advert"><div id="ezoic-pub-ad-placeholder-144"></div></div>

			<div class="studio-goals">
				<section class="description">
					<h2 class="studio-title">
						<span id="intro-role">
							Your Music Goals
						</span>
					</h2>
				</section>
				<div id="intro-tips"></div>
				<div id="tips-spinner">
					<strong>Loading Your Customized Goals...</strong>
					{% include '_includes/icons' with { type: 'spinner' } %}
				</div>
			</div>

			{### EZOIC ai-in-content ###}
			<div class="advert"><div id="ezoic-pub-ad-placeholder-145"></div></div>

			<section id="role-articles">
				<div></div>
				<div id="recent-articles">
					{% if not usingKeyword %}
						<h3>Recent Articles</h3>
					{% endif  %}
					{% include 'blog/_includes/blog-posts' with { posts: recentArticles.all() } %}
				</div>
			</section>

		</div>
	{# </div> #}

{% endblock %}