{% extends '_layout2023' %}

{% set fixedHeader = true %}

{% set categories = craft.entries.section('topics') %}
{% if entry.tags.count %}
	{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.tags).id('not ' ~ entry.id).limit(6).all() %}
	{% if relatedPosts | length < 6 %}
		{% set moreRelatedPosts = craft.entries.section('blog').relatedTo(entry.topic).id('not ' ~ entry.id).limit(6 - relatedPosts | length) %}
		{% set relatedPosts = relatedPosts | merge(moreRelatedPosts) %}
	{% endif %}
{% else %}
	{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.topic).id('not ' ~ entry.id).limit(6).all() %}
{% endif %}

{% block styles %}
	<link rel="stylesheet" href="{{ url('css/blogpost2023.css') }}?version={{ versionNumber }}" /> 
{% endblock %}

{% block scripts %}
	<script defer>
        document.addEventListener("DOMContentLoaded", function()
        {
            if (typeof(bp) !== undefined)
            {
            	bp.createBlogPost();
            }
        });
    </script>
{% endblock %}


{% block header %}

	<div id="reading-time" class="reading-time"><div class="reading-progress"></div></div>

	<section class="blog-header">

		<div class="container narrow-container">
			<h1>{{ entry.title }}</h1>
			{% if entry.subheadline | length %}
				<h2>{{ entry.subheadline }}</h2>
			{% endif %}

			{% include '_includes/author' with { blog: entry } %}

			<div class="sharethis-inline-share-buttons"></div>

			{# removing img above the fold on mobile, to prevent long LCP #}
			{% if not craft.app.request.isMobileBrowser(false) and entry.blogImage.count %}
				{% include 'blog/_includes/img' with { img: entry.blogImage.one(), isFeatured: true } %}
			{% endif %}
		</div>

		{% if entry.featuredSnippet | length %}
			<div class="container narrow-container">
				<div class="featured-snippet">
					{{ entry.featuredSnippet }}
				</div>
			</div>
		{% endif %}

	</section>

{% endblock %}


{% block content %}

	{% include 'blog/_includes/blog-module' %}
	
	<div class="blog-comments">
		<div class="container narrow-container">
			{% if entry.headline | length %}
				<h4>{{ entry.headline }}</h4>
			{% endif %}
			<h2>Leave a Reply!</h2>
			{{ craft.comments.render(entry.id) }}
		</div>
	</div>

	<div class="container narrow-container">

		{### EZOIC - blog-bottom-related-content - bottom_of_page ###}
		<div class="advert"><div id="ezoic-pub-ad-placeholder-137"></div></div>

		<h3 class="section-title"><span>Keep Reading!</span></h3>
		
		{# {% include '_includes/related-content' with { articles: relatedPosts } %} #}

		<section class="blog-row related-content">
			{# {% for blog in relatedPosts.all() %} #}
			{% for blog in relatedPosts %}
				<article>
					{% if blog.blogImage.count %}
						{% set img = blog.blogImage.one() %}
						{% set cat = blog.topic.one() %}
						<a class="blog-img" href="{{ blog.url }}">
		        			<picture>
							 	<source srcset="{{ img.url("blogRelatedContent") }}, {{ img.url('blogRelatedContent2x') }} 2x" media="(min-width: 768px)" />
								<img src="{{ img.url('recentPostsMobile2023') }}"
									srcset="{{ img.url('recentPostsMobile20232x') }} 2x"
								 	alt="{{ img.title }}"
								 	loading="lazy"
									width="{{ img.width('recentPostsMobile2023') }}" height="{{ img.height('recentPostsMobile2023') }}">
							</picture>
						</a>
						<a class="category" href="{{ cat.url }}">
							{% include '_includes/icons' with { type: 'tag' } %}
							<span>{{ cat.ctaText }}</span>
						</a>
						<a class="blog-title" href="{{ blog.url }}">
							<h4 class="related-title">{{ blog.title }}</h4>
						</a>
					{% endif %}
        		</article>
			{% endfor %}
		</section>

		{% include '_includes/related-categories' with { categories: entry.topic } %}

		{### EZOIC - bottom-before-footer - bottom_of_page ###}
		<div class="advert"><div id="ezoic-pub-ad-placeholder-138"></div></div>

	</div>

{% endblock %}