{% extends '_layout' %}

{% set fixedHeader = true %}
{% set categories = craft.entries.section('category') %}
{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.categories).id('not ' ~ entry.id).limit(6) %}

{% block headerScripts %}
	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60f99a793b1d5d001213a396&product=inline-share-buttons' async='async'></script>
{% endblock %}

{% block scripts %}
	<script defer type="text/javascript">
		if (typeof(uxFuncs) === 'object')
		{
			uxFuncs.push(function()
            {
                bp.blogPost();
            });
		}
	</script>
{% endblock %}

{% block content %}

	{% include '_includes/categories' with { categories: categories } %}

	<div class="container narrow-container">
		<h1>{{ entry.title }}</h1>
		{% if entry.subheadline | length %}
			<h2>{{ entry.subheadline }}</h2>
		{% endif %}

		{% include '_includes/author' with { blog: entry } %}

		<div class="social-sharing sharethis-inline-share-buttons"></div>

		{% if entry.blogImage.count %}
			{# <img loading="eager" class="featured-image" src="{{ entry.blogImage.one().url('blogHeader') }}" alt="{{ entry.blogImage.one().title }}"> #}
			<img src="{{ entry.blogImage.one().url('blogHeaderMobile') }}"
				class="featured-image"
			 	alt="{{ entry.blogImage.one().title }}"
				srcset="{{ entry.blogImage.one().url('blogHeaderMobile') }} 576w, {{ entry.blogImage.one().url('blogHeader') }} 800w" 
				sizes="(max-width: 576px) 100vw, 800px"
				width="330" height="185">
		{% endif %}
	</div>

	<div class="container narrow-container">		
		{% if entry.featuredSnippet | length %}
			<div class="featured-snippet">
				{{ entry.featuredSnippet }}
			</div>
		{% endif %}
		{% cache %}
			{% include 'blog/_includes/blog-module' %}
		{% endcache %}
		<div class="social-sharing sharethis-inline-share-buttons"></div>
	</div>

	
	<div class="blog-comments">
		<div class="container narrow-container">
			{% if entry.headline | length %}
				<h4>{{ entry.headline }}</h4>
			{% endif %}
			<h2>Leave a Reply!</h2>
			{{ craft.comments.render(entry.id) }}
		</div>
	</div>

	<div class="container narrow-container">
		<h3 class="section-title"><span>Keep Reading!</span></h3>
		{% include '_includes/related-content' with { articles: relatedPosts } %}
		{% include '_includes/related-categories' with { categories: entry.categories } %}
	</div>

{% endblock %}