{% extends '_layout' %}

{% set fixedHeader = true %}
{% set categories = craft.entries.section('category') %}

{% block content %}

	{% include '_includes/categories' with { categories: categories } %}

	<div class="container narrow-container">
		<h1>{{ entry.title }}</h1>
		{% if entry.subheadline | length %}
			<h2>{{ entry.subheadline }}</h2>
		{% endif %}

		{% include '_includes/author' with { blog: entry } %}

		{% if entry.blogImage.count %}
			<img class="featured-image" src="{{ entry.blogImage.one().url('blogHeader') }}" alt="{{ entry.blogImage.one().title }}">
		{% endif %}
	</div>

	<div class="container narrow-container">
		{% include '_includes/blog-module' %}

		<h3 class="section-title"><span>Keep Reading!</span></h3>

		<div class="related-content blog-posts">
			{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.categories).id('not ' ~ entry.id).limit(6) %}
			{% for rp in relatedPosts.all() %}
				<article>
					<a class="blog-image" href="{{ rp.url }}">
						<img src="{{ rp.blogImage.one().url('relatedPost') }}">
					</a>
					<div class="blog-info">
						<h4>
							<a href="{{ rp.url }}">{{ rp.title }}</a>
						</h4>
					</div>
				</article>
			{% endfor %}
		</div>

		<div class="related-categories">
			{% for rc in entry.categories.all() %}
				{% if rc.show %}
					<a href="{{ rc.url }}">More {{ rc.title }}</a>
				{% endif %}
			{% endfor %}
		</div>

	</div>

{% endblock %}