{% extends '_layout' %}

{% set fixedHeader = true %}
{% set categories = craft.entries.section('category') %}
{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.categories).id('not ' ~ entry.id).limit(6) %}

{% block content %}

	{% include '_includes/categories' with { categories: categories } %}

	<div class="container narrow-container">
		<h1>{{ entry.title }}</h1>
		{% if entry.subheadline | length %}
			<h2>{{ entry.subheadline }}</h2>
		{% endif %}

		{% include '_includes/author' with { blog: entry } %}

		{% if entry.blogImage.count %}
			<img class="featured-image" src="{{ entry.blogImage.one().url('blogHeader') }}" alt="{{ entry.blogImage.one().title }}">
		{% endif %}
	</div>

	<div class="container narrow-container">
		{% include '_includes/blog-module' %}
	</div>

	
	<div class="blog-comments">
		<div class="container narrow-container">
			{% if entry.headline | length %}
				<h4>{{ entry.headline }}</h4>
			{% endif %}
			<h2>Leave a Reply!</h2>
			{{ craft.comments.render(entry.id) }}
		</div>
	</div>

	<div class="container narrow-container">
		<h3 class="section-title"><span>Keep Reading!</span></h3>
		{% include '_includes/related-content' with { articles: relatedPosts } %}
		{% include '_includes/related-categories' with { categories: entry.categories } %}
	</div>

{% endblock %}