{% extends '_layout2023' %}

{% set fixedHeader = true %}
{% set isMobile = craft.app.request.isMobileBrowser(false) %}
{% set showRankModal = (currentUser and entry.enableRanking) %}

{% set categories = craft.entries.section('topics') %}
{% if entry.tags.count %}
	{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.tags).id('not ' ~ entry.id).limit(6).all() %}
	{% if relatedPosts | length < 6 %}
		{% set moreRelatedPosts = craft.entries.section('blog').relatedTo(entry.topic).id('not ' ~ entry.id).limit(6 - relatedPosts | length) %}
		{% set relatedPosts = relatedPosts | merge(moreRelatedPosts) %}
	{% endif %}
{% else %}
	{% set relatedPosts = craft.entries.section('blog').relatedTo(entry.topic).id('not ' ~ entry.id).limit(6).all() %}
{% endif %}

{% block headerScripts %}
	 {% if currentUser %}
		<meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName | e('html') }}">
		<meta name="csrf-token-value" content="{{ craft.app.request.csrfToken | e('html') }}">
	{% endif %}
{% endblock %}

{% block styles %}
	{# <link rel="stylesheet" href="{{ url('css/blogpost2023.min.css') }}?version={{ versionNumber }}" /> #}
	
	<link rel="preload" href="{{ url('css/blogpost2023.min.css') }}?version={{ versionNumber }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="{{ url('css/blogpost2023.min.css') }}?version={{ versionNumber }}"></noscript>

	{% if entry.blogImage.count %}
		{% set mobileTrans = { mode: 'fit', format: 'webp', width: 380, quality: 80 } %}
		<link rel="preload" as="image" href="{{ entry.blogImage.one().url(mobileTrans) }}">
		{# <link rel="preload" as="image" href="{{ entry.blogImage.one().url(mobileTrans) }}" 
			imagesrcset="{{ entry.blogImage.one().url(mobileTrans) }} 1x, {{ entry.blogImage.one().url(mobileTrans) }} 2x"> #}
	{% endif %}
{% endblock %}

{% block scripts %}
	<script defer>
        document.addEventListener("DOMContentLoaded", function()
        {
            if (typeof(bp) !== undefined)
            {
            	bp.createBlogPost();
            }

        	var rdata = [];

        	{% if currentUser and entry.enableRanking %}
            	{% set rankingData = craft.rockstar.getCurrentUserKeysByEntry(entry.id) %}
            	{% for rd in rankingData %}
            		rdata.push({ key: '{{rd.key}}', value: '{{rd.value}}', liked: '{{rd.liked}}', sort: '{{rd.sort}}' });
            	{% endfor %}
            	createBlogRanker("{{ entry.id }}", rdata);
            {% endif %}

            document.getElementById('scroll-down').addEventListener('click', function()
            {
            	document.querySelector('main').scrollIntoView();
            });
        });
        function createBlogRanker(eid, rankingData)
        {
        	var likeUrl = '/rockstar/ranking-like-it';
			let formData = new FormData();
			var likesAndDislikes = document.querySelectorAll('.ranker-like, .ranker-dislike');

			// Set like buttons selected

			rankingData.forEach(function(rdata)
			{
				var rform = document.querySelector(`[data-ranker="${rdata.key}"]`);

				if(rdata.liked === '1')
				{
					rform.querySelector('.ranker-like').classList.add('selected');
				}
				else if(rdata.liked === '0')
				{
					rform.querySelector('.ranker-dislike').classList.add('selected');
				}
			});

			// add events to like buttons
			
			likesAndDislikes.forEach(function(btn)
			{
				btn.addEventListener('click', function(e)
				{
					e.preventDefault();

					this.classList.toggle('selected');

					var selected = this.classList.contains('selected');
					var parentContainer = this.closest('.ranker-buttons');
	        		var keyInput = parentContainer.querySelector('[name="key"]');
	        		var valInput = parentContainer.querySelector('[name="val"]');
	        		var likedInput = parentContainer.querySelector('[name="liked"]');
	        		var likedValue = 'unselected';

			        if (likedInput)
			        {
			            if (btn.classList.contains('ranker-like'))
				        {
				        	parentContainer.querySelector('.ranker-dislike').classList.remove('selected');
				            likedValue = selected ? 'liked' : 'unselected';
				        }
				        else if (btn.classList.contains('ranker-dislike'))
				        {
				        	parentContainer.querySelector('.ranker-like').classList.remove('selected');
				            likedValue = selected ? 'disliked' : 'unselected';
				        }

				        likedInput.value = likedValue;
				        
						let csrfTokenName = document.querySelector('meta[name="csrf-token-name"]').getAttribute('content');
						let csrfTokenValue = document.querySelector('meta[name="csrf-token-value"]').getAttribute('content');

				        formData.append('eid', eid);
				        formData.append('key', keyInput.value);
				        formData.append('val', valInput.value);
						formData.append('liked', likedValue);
						formData.append(csrfTokenName, csrfTokenValue);

				        fetch(likeUrl, { method: 'POST', body: formData })
						.then((response) => {
						    if (response.ok)
						    {
						    	return response.text();
						    }
						}).then((response) => {
						}).catch((error) => {
						    console.error("Error:", error);
						});
			        }
				});
			});
        }
    </script>
{% endblock %}


{% block header %}

	{% set blogHeadCacheKey = "blog-post-20240704b-" ~ entry.slug ~ "-" ~ (isMobile ? 'mobile2' : 'desktop2') %}
	{% cache using key blogHeadCacheKey %}
		<div id="reading-time" class="reading-time"><div class="reading-progress"></div></div>
		<section class="blog-header">

			<div class="container narrow-container">
				<h1>{{ entry.title }}</h1>
				{% if entry.topic.count %}
					<nav aria-label="breadcrumbs" class="breadcrumb">
						<a href="{{ siteUrl }}"><span>Home</span></a>
						<a href="{{ entry.topic.one().url }}"><span>{{ entry.topic.one().title }}</span></a>
					</nav>
				{% endif %}
				{% if entry.subheadline | length %}
					<h2>{{ entry.subheadline }}</h2>
				{% endif %}
				{% include '_includes/author' with { blog: entry, showImage: (not isMobile) } %}

				{# removing img above the fold on mobile, to prevent long LCP #}
				{# {% if (not isMobile) and entry.blogImage.count %} #}
				{% if entry.blogImage.count %}
					{% include 'blog/_includes/img' with { img: entry.blogImage.one(), isFeatured: true } %}
				{% endif %}
			</div>

			{# <span id="scroll-down" class="scroll-down">
				{% include '_includes/icons' with { type: 'down' } %}
			</span> #}

			{% if entry.featuredSnippet | length %}
				<div class="container narrow-container">
					<div class="featured-snippet">
						{{ entry.featuredSnippet }}
					</div>
				</div>
			{% endif %}
		</section>
	{% endcache %}

{% endblock %}


{% block content %}

	{% if entry.enableRanking %}
		{% include 'blog/_includes/blog-module' %}
	{% else %}
		{% cache %}
			{% include 'blog/_includes/blog-module' %}
		{% endcache %}
	{% endif %}
	
	<div class="blog-comments">
		<div class="container narrow-container">
			{% if entry.headline | length %}
				<h4>{{ entry.headline }}</h4>
			{% endif %}
			<h2>Leave a Reply!</h2>
			{{ craft.comments.render(entry.id) }}
		</div>
	</div>

	{% cache %}
		<div class="container narrow-container">
			<h3 class="section-title"><span>Keep Reading!</span></h3>
			<section class="blog-row related-content">
				{% for blog in relatedPosts %}
					<article>
						{% if blog.blogImage.count %}
							{% set img = blog.blogImage.one() %}
							{% set cat = blog.topic.one() %}
							<a class="blog-img" href="{{ blog.url }}">
			        			<picture>
								 	<source srcset="{{ img.url("blogRelatedContent") }}, {{ img.url('blogRelatedContent2x') }} 2x" media="(min-width: 768px)" />
									<img src="{{ img.url('recentPostsMobile2023') }}"
										srcset="{{ img.url('recentPostsMobile20232x') }} 2x"
									 	alt="{{ img.title }}"
									 	loading="lazy"
										width="{{ img.width('recentPostsMobile2023') }}" height="{{ img.height('recentPostsMobile2023') }}">
								</picture>
							</a>
							<a class="category" href="{{ cat.url }}">
								{% include '_includes/icons' with { type: 'tag' } %}
								<span>{{ cat.ctaText }}</span>
							</a>
							<a class="blog-title" href="{{ blog.url }}">
								<h4 class="related-title">{{ blog.title }}</h4>
							</a>
						{% endif %}
	        		</article>
				{% endfor %}
			</section>
			{% include '_includes/related-categories' with { categories: entry.topic } %}
		</div>
	{% endcache %}

	{% if showRankModal %}
		{% set editorData = craft.rockstar.getEntryItemsOrderedByLikes(entry.id, true) %}
		{% set userData = craft.rockstar.getEntryItemsOrderedByLikes(entry.id, false) %}
        <div id="rank-comparison-modal" class="overlay rank-comparison-modal">
            <div class="modal">
                <a class="close-icon-button" href="/">{% include '_includes/icons' with { type: 'close' } %}</a>
	            <div>   
                	<div class="split-panel">
                		{% if editorData | length > 0 %}
		                	<div class="d-md">
			                    <h3>Editor's Ranking</h3>
			                </div>
		                {% endif %}
		                <div>
							<h3>Reader's Ranking</h3>
						</div>
		            </div>
		            <div class="scroll-panel">
		                <div class="split-panel">
		                	{% if editorData | length > 0 %}
			                	<div class="d-md">
				                    <div class="scroll-container">
										<ul>
											{% for item in editorData %}
												<li draggable="true" data-key="{{ item.key }}">
													{{ loop.index }}. {{ item.value }} 
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
							<div>
			                    <div class="scroll-container">
									<ul>
										{% if userData | length > 0 %}
											{% for item in userData %}
												<li draggable="true" data-key="{{ item.key }}">
													{{ loop.index }}. {{ item.value }} 
													{% if item.percentLiked > 0 %}
														<span>
															({{ item.percentLiked }}% {% include '_includes/icons' with { type: 'like-solid' } %})
														</span>
													{% endif %}
												</li>
											{% endfor %}
										{% else %}
											<p>We are still calculating user data for this entry. Please try again later.</p>
										{% endif %}
									</ul>
								</div>
							</div>
		                </div>
		            </div>
	           	</div>
            </div>
        </div>
    {% endif %}

{% endblock %}