{% extends '_layout2023' %}

{% set postsPerPage = 12 %}
{% set topicSlug = craft.app.request.segments | last %}
{% set isGenrePage = false %}
{% set isSticky = false %}
{% set isMobile = craft.app.request.isMobileBrowser(false) %}

{% if topicSlug == 'dynamic' %}

	{% set blogQuery = craft.entries.section('blog').type('dynamic') %}
	{% paginate blogQuery.limit(postsPerPage).offset(1).orderBy('postDate DESC') as pageInfo, posts %}
	{% set recentPosts = posts %}
	{% set isFirstPage = false %}

{% else %}

	{% if entry.type.handle in ['decade', 'genre', 'instrument'] %}
		{% set isGenrePage = true %}
		{% set postsPerPage = 8 %}
		{% set blogQuery = craft.entries.section('blog').relatedTo(entry) %}
		{% if not entry.show %}
			{# If this isn't in the Menu, don't allow access to it! #}
			{% exit 404 %}
		{% endif %}
	{% else %}
		{% set topicEntry = craft.entries.section('topics').slug(topicSlug) %}
		{% if topicSlug == 'rankings' %}
			{% set blogQuery = craft.entries.section('blog').enableRanking(true) %}
		{% else %}
			{% set topicEntry = craft.entries.section('topics').slug(topicSlug) %}
			{% set blogQuery = craft.entries.section('blog').relatedTo(topicEntry).enableRanking(false) %}
		{% endif %}
		{% if entry.featuredBlogPost and entry.featuredBlogPost.count %}
			{% set blogQuery = blogQuery.id('and, not '~ entry.featuredBlogPost.one().id) %}
		{% endif %}
	{% endif %}

	{% paginate blogQuery.limit(1) as firstPageInfo, tempPosts %}

	{% if not isGenrePage and firstPageInfo.currentPage == 1 %}
		{% set isFirstPage = true %}
		
		{% if entry.featuredBlogPost and entry.featuredBlogPost.count %}
			{% paginate blogQuery.limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}
			{% set featured = entry.featuredBlogPost.one() %}
			{% set recentPosts = posts %}
		{% else %}
			{% paginate blogQuery.limit(postsPerPage + 1).orderBy('postDate DESC') as pageInfo, posts %}
			{% set featured = posts | length ? posts[0] : null %}
			{% set recentPosts = posts | length ? posts[1:] : null %}
		{% endif %}
	{% else %}
		{% set isFirstPage = false %}
		{% if entry.featuredBlogPost and entry.featuredBlogPost.count %}
			{% paginate blogQuery.limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}
		{% else %}
			{% paginate blogQuery.limit(postsPerPage).offset(1).orderBy('postDate DESC') as pageInfo, posts %}
		{% endif %}
		{% set recentPosts = posts %}
	{% endif %}

{% endif %}

{# {% if isGenrePage %}
	{% set disableAds = true %} 
{% endif %} #}

 {% block headerScripts %}
 	{% if isFirstPage and isMobile and featured and featured.blogImage.count  %}
 		{% set img = featured.blogImage.one() %}
		{% set featuredMobile = { mode: 'fit', format: 'webp', width: 380, quality: 80 } %}
		{% set featuredMobile2x = { mode: 'fit', format: 'webp', width: 760, quality: 80 } %}
 		<link rel="preload" as="image" href="{{ img.url(featuredMobile) }}" imagesrcset="{{ img.url(featuredMobile) }} 1x, {{ img.url(featuredMobile2x) }} 2x">
 	{% endif %}
 {% endblock %}

{% block header %}
	{% if entry is defined %}
		{% set topicHeaderCacheKey = "topic-header-" ~ (entry.headline | length ? entry.headline : entry.slug) %}
		{% cache using key topicHeaderCacheKey %}
			<section class="rich-text">
				{% if entry.heroImage.count %}
					{% set hero = entry.heroImage.one() %}
					{% set mobile = { mode: 'fit', width: 412, quality: 20 } %}
					{% set mobile2x = { mode: 'fit', width: 824, quality: 20 } %}
					{% set sm = { mode: 'fit', width: 576, quality: 20 } %}
					{% set sm2x = { mode: 'fit', width: 1152, quality: 20 } %}
					{% set md = { mode: 'fit', width: 768, quality: 20 } %}
					{% set md2x = { mode: 'fit', width: 1536, quality: 20 } %}
					{% set lg = { mode: 'fit', width: 992, quality: 20 } %}
					{% set lg2x = { mode: 'fit', width: 1984, quality: 20 } %}
					{% set xl = { mode: 'fit', width: 1200, quality: 20 } %}
					{% set xl2x = { mode: 'fit', width: 2400, quality: 20 } %}
					{% set xxl = { mode: 'fit', width: 1400, quality: 20 } %}
					{% set xxl2x = { mode: 'fit', width: 2800, quality: 20 } %}
					{% set xxxl = { mode: 'fit', width: 2000, quality: 20 } %}
					{% set xxxl2x = { mode: 'fit', width: 4000, quality: 20 } %}
					<picture>
					 	<source srcset="{{ hero.url(xxxl) }}, {{ hero.url(xxxl2x) }} 2x" media="(min-width: 2000px)" />
					 	<source srcset="{{ hero.url(xxl) }}, {{ hero.url(xxl2x) }} 2x" media="(min-width: 1400px)" />
					 	<source srcset="{{ hero.url(xl) }}, {{ hero.url(xl2x) }} 2x" media="(min-width: 1200px)" />
					 	<source srcset="{{ hero.url(lg) }}, {{ hero.url(lg2x) }} 2x" media="(min-width: 992px)" />
					 	<source srcset="{{ hero.url(md) }}, {{ hero.url(md2x) }} 2x" media="(min-width: 768px)" />
					 	<source srcset="{{ hero.url(sm) }}, {{ hero.url(sm2x) }} 2x" media="(min-width: 576px)" />
						<img src="{{ hero.url(mobile) }}"
							srcset="{{ hero.url(mobile2x) }} 2x"
						 	alt="{{ hero.title }}"
						 	loading="eager"
						 	class="hero-img" 
							width="{{ hero.width }}" height="{{ hero.height }}">
					</picture>
				{% endif %}
				<div class="container">
					{% set showDescription = (entry.shortDescription | length) %}
					{% if entry.headline | length %}
						<h1{% if not showDescription %} style="text-align:center;"{% endif %}>{{ entry.headline }}</h1>
					{% endif %}
					{% if entry.subheadline | length %}
						<h2{% if not showDescription %} style="text-align:center;"{% endif %}>{{ entry.subheadline }}</h2>
					{% endif %}
					{% if showDescription %}
						<p>{{ entry.shortDescription }}</p>
					{% endif %}
				</div>
			</section>
		{% endcache %}
	{% endif %}
{% endblock %}

{% block content %}
	{% if isFirstPage and featured %}
		{% set featuredCacheKey = "featured-topic-article-" ~ featured.slug %}
		{% cache using key featuredCacheKey %}
			<section class="featured">
				<div class="container narrow-container">
					 <form class="search-box" action="/search" method="get">
	                    <input id="search-input" type="text" name="q" placeholder="{{ entry.ctaText2 | length ? entry.ctaText2 : "Enter a music question" }}">
	                    <button>{% include '_includes/icons' with { type: 'search' } %}</button>
	                </form>
	            </div>
				<div class="container">
					<div class="z-pattern">
						<div>
							{% if featured.blogImage.count %}
								{% set img = featured.blogImage.one() %}
								{% set cat = featured.topic.one() %}
								<a href="{{ featured.url }}">
				        			{% set img = featured.blogImage.one() %}
									{% set featuredMobile = { mode: 'fit', format: 'webp', width: 380, quality: 80 } %}
									{% set featuredMobile2x = { mode: 'fit', format: 'webp', width: 760, quality: 80 } %}
									{% set featuredSm = { mode: 'fit', format: 'webp', width: 544, quality: 80 } %}
									{% set featuredSm2x = { mode: 'fit', format: 'webp', width: 1088, quality: 80 } %}
									{% set featuredMd = { mode: 'fit', format: 'webp', width: 564, quality: 80 } %}
									{% set featuredMd2x = { mode: 'fit', format: 'webp', width: 1128, quality: 80 } %}
									<picture>
										<source srcset="{{ img.url(featuredMd) }}, {{ img.url(featuredMd2x) }} 2x" media="(min-width: 576px)" />
										<source srcset="{{ img.url(featuredMobile) }}, {{ img.url(featuredMobile2x) }} 2x" media="(max-width:575px)" />
										<img src="{{ img.url(featuredMobile) }}"
											srcset="{{ img.url(featuredMobile2x) }} 2x"
										 	alt="{{ img.title }}"
										 	loading="eager"
											width="{{ img.width(featuredMobile) }}" height="{{ img.height(featuredMobile) }}">
									</picture>
								</a>
							{% endif %}
						</div>
						<div>
							{% if featured.title | length %}
								<a href="{{ featured.url }}">
									<h2>{{ featured.title }}</h2>
								</a>
							{% endif %}
							{% if featured.shortDescription | length %}
								<p>
									{{ featured.shortDescription }}
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		{% endcache %}
	{% endif %}

	{% if recentPosts | length %}
		<section class="blog-row">
			<div class="container">

				{% set recentArticlesCacheKey = "recent-topic-articles-" ~ recentPosts | length ~ "-" ~ recentPosts[0].slug %}
				{% cache using key recentArticlesCacheKey %}
				
					{% if isGenrePage %}
						<h2>{{ entry.slug }} Articles</h2>
					{% else %}
						{% if entry.headline|lower ends with 's' %}
							<h2>{{ entry.headline|slice(0, -1) }} Articles</h2>
						{% else %}
							<h2>{{ entry.headline }} Articles</h2>
						{% endif %}
					{% endif %}
					<div class="grid-pane">
						{% for blog in recentPosts %}
							
							<article>
								<a class="blog-img" href="{{ blog.url }}">
									{% if blog.blogImage.count %}
										{% set img = blog.blogImage.one() %}
										{% set cat = blog.topic.one() %}
					        			<picture>
					        				<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 819px)" />
										 	<source srcset="{{ img.url("recentPostsMobile2023") }}, {{ img.url('recentPostsMobile20232x') }} 2x" media="(min-width: 768px)" />
										 	<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 576px)" />
											<img src="{{ img.url('recentPostsMobile2023') }}"
												srcset="{{ img.url('recentPostsMobile20232x') }} 2x"
											 	alt="{{ img.title }}"
											 	loading="lazy"
												width="{{ img.width('recentPostsMobile2023') }}" height="{{ img.height('recentPostsMobile2023') }}">
										</picture>
									{% endif %}
								</a>
								<a class="blog-title" href="{{ blog.url }}">
									<h4>{{ blog.title }}</h4>
								</a>
			        		</article>

			        	{% endfor %}
		        	</div>
				{% endcache %}

	        	{% if pageInfo.total > postsPerPage %}
					<div class="container">
				    	{% include '_includes/pagination' %}
				    </div>
				{% endif %}

			</div>
		</section>
	{% endif %}

{% endblock %}