{% set versionNumber = '1.11' %}

{# {% import '_includes/macros' as macros %} #}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>{{ title }}</title>
        <meta name="robots" content="index,follow,noarchive" />

        {% apply spaceless %}

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/epk.css') }}?version={{ versionNumber }}" /> 
        {% endblock %}

        {% endapply %}

    </head>

    <body>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <script src="{{ url('js/epk.min.js') }}?version={{ versionNumber }}"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>