{% extends '/_layout' %}

{### INITIAL VARIABLES ###}

{% set slug = 'my-studio' %}
{% set versionNumber = 1.01 %}
{% set maxRoles = 3 %}
{% set maxSkills = 1 %}
{% set maxGoals = 2 %}
{% set skillGoal = 'improve my skill' %}
{% set financeGoal = 'make money with music' %}
{% set marketingGoal = 'market and promote my music' %}
{% set socialMediaGoal = 'influence on social media' %}

{### DYNAMIC KEYWORD ###}

{% set keyword = craft.app.request.segments | last == slug ? '' : craft.app.request.segments | last %}

{### PAGE TITLE AND ENTRY ###}

{% if keyword | length %}
	{% set pageTitle = keyword | replace({'-': ' '}) | title %}
	{% set seoTitle = pageTitle %}
{% else %}
	{% set pageTitle = "My Studio" %}
	{% set seoTitle = "Music Info Customized For You" %}
{% endif %}

{% set entry = { slug: slug, title: seoTitle, section: { handle: slug } } %}

{### INITIAL FILTERS AND ARTICLES ###}

{% set initialRole = craft.app.request.getQueryParam('role') ?? '' %}
{% set roles = craft.entries.section('roles') %}

{% if initialRole | length > 0 %}
	{% set recentArticles = craft.entries.section('blog').search({query: initialRole}).limit(2).orderBy('score') %}
{% endif %}
{% set initialArticlesAreForRole = (initialRole | length > 0 and recentArticles.count > 0) %}
{% if initialRole | length == 0 or recentArticles.count == 0 %}
	{% set recentArticles = craft.entries.section('blog').limit(2).orderBy('postDate DESC') %}
{% endif %}

{### PAGE STYLES ###}

{% block headerScripts %}
	<style type="text/css">
		.studio-title {
			display: none;
			margin: 40px 0 -10px 0 !important;
		}
		.studio-title.show {
			display: block
		}
		.studio-tips {
		    margin: 40px auto;
		    padding: 25px;
		    border: solid 2px #e7ebec;
		    background-color: #f7f7f7;
		    border-radius: 4px;
		    max-width: 800px;
		}
		.studio-tips h3 {
			margin: 0 auto 25px auto;
			max-width: 800px;
			text-transform: capitalize;
		}
		.studio-tips h3 + strong {
			display: block;
			margin: -10px auto 25px auto;
		}
		.studio-tips p {
			margin: 0 auto;
			max-width: 800px;
		}
		#tips-spinner {
			display: none;
			text-align: center;
		    margin: 70px 0 0 0;
		    opacity: 0;
		    transition: opacity 0.5s;
		}
		#tips-spinner.show {
			opacity: 1;
		}
		#tips-spinner strong {
			color: #6f6f6f;
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
		#tips-spinner svg {
			vertical-align: middle;
		}
		#filter-next {
			margin-top: 20px;
			background-color: #2898CB;
		}
		#filter-next:hover {
			background-color: #0a79a4;
		}
		.blog-posts[data-count="1"] {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		.blog-posts[data-count="1"] article {
			max-width: 600px;
		}
		@media (min-width: 768px) {
			.studio-title {
				margin: 80px 0 10px 0 !important;
			}
		}
	</style>
{% endblock %}

{### PAGE SCRIPTS ###}

{% block scripts %}
	<script defer src="{{ url('js/studio.min.js') }}?version={{ versionNumber }}"></script>
	<script defer type="text/javascript">
		document.addEventListener("DOMContentLoaded", function()
        {
        	const goalObj = {
        		skill: '{{ skillGoal }}',
        		finance: '{{ financeGoal }}',
        		marketing: '{{ marketingGoal }}',
        		socialMedia: '{{ socialMediaGoal }}'
        	};

        	{% if keyword | length %}
        		{% set segments = craft.app.request.segments %}
				{% set keywordRole = segments[segments | length - 2] %}
				{% set keywordGoal = segments[segments | length - 3] %}
        		new Studio('{{ initialRole }}', {{ maxRoles }}, {{ maxSkills }}, {{ maxGoals }}, goalObj, {keyword:'{{ keyword }}', goal:'{{ keywordGoal }}', role:'{{ keywordRole }}', title:'{{ pageTitle }}'});
        	{% else %}
				new Studio('{{ initialRole }}', {{ maxRoles }}, {{ maxSkills }}, {{ maxGoals }}, goalObj);
        	{% endif %}
		});
	</script>
{% endblock %}

{% block content %}
	
	<div id="filters" class="categories">
		<div class="container">
			<nav role="navigation" aria-label="Primary Navigation">
				<ul>
					<li>
						<label class="underline" data-filter="#filter-roles">1. Select a Role</label>
					</li>
					<li>
						<label class="underline" data-filter="#filter-skills">2. Skill Level</label>
					</li>
					<li>
						<label class="underline" data-filter="#filter-goals">3. Choose a Goal</label>
					</li>
					<li>
						<label class="underline" data-filter="load-data">4. Go!</label>
					</li>
				</ul>
			</nav>
		</div>
		<div id="category-description">
			<div class="container">
				<a id="close-filters" href="/" class="close-menu">
   					{% include '_includes/icons' with { type: 'close' } %}
  				</a>
				<div id="filter-roles" class="filter-group{% if initialRole | length %} show{% endif %}">
					<div class="filter-description">
						<h4>Step 1: What Is Your Role in the Band?</h4>
						<em>(Choose up to 3)</em>
					</div>
					<div class="filter-inputs" data-max="{{ maxRoles }}">
						{% for role in roles.all() %}
							<label>
								<input name="filterRoles" type="checkbox" value="{{ role.slug }}"{% if role.slug == initialRole %} checked="checked"{% endif %}>
								<span>{{ role.title }}</span>
							</label>
						{% endfor %}
					</div>
				</div>
				<div id="filter-skills" class="filter-group">
					<div class="filter-description">
						<h4>Step 2: What Is Your Skill Level?</h4>
					</div>
					<div class="filter-inputs" data-max="{{ maxSkills }}">
						<label><input name="filterSkill" type="checkbox" value="beginner">
							<span>Beginner</span>
							<em>(Little or no experience. You're just getting started)</em>
						</label>
						<br>
						<label><input name="filterSkill" type="checkbox" value="intermediate">
							<span>Intermediate</span>
							<em>(Foundational skills. You're a competent performer)</em>
						</label>
						<br>
						<label><input name="filterSkill" type="checkbox" value="professional">
							<span>Professional</span>
							<em>(Working musician, with extensive experience or formal training)</em>
						</label>
					</div>
				</div>
				<div id="filter-goals" class="filter-group">
					<div class="filter-description">
						<h4>What Are Your Primary Goals with Music?</h4>
						<em>(Choose up to 2)</em>
					</div>
					<div class="filter-inputs" data-max="{{ maxGoals }}">
						<label><input name="filterGoals" type="checkbox" value="{{ skillGoal }}"><span>Improve Your Skill</span></label>
						<label><input name="filterGoals" type="checkbox" value="{{ financeGoal }}"><span>Make More Money</span></label>
						<label><input name="filterGoals" type="checkbox" value="{{ marketingGoal }}"><span>Market and Promote</span></label>
						<label><input name="filterGoals" type="checkbox" value="{{ socialMediaGoal }}"><span>Social Media Influence</span></label>
					</div>
				</div>
				<div>
					<button id="filter-next" class="small-btn subtle-btn">Next</button>
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<section class="description">
				<h2>
					<span id="intro-role">Your Custom Music Persona</span>
				</h2>
				
				<div class="narrow-container">
					<p id="intro-description"><strong>Customized music tips and info.</strong><br>Follow the steps above to select <strong>your instrument or role</strong>, <strong>your skill level</strong>, and <strong>your music goals</strong>. Then click <strong>"Go!"</strong> to create a custom music journey map, specifically for you.</p>
					<div id="intro-spinner">
						{% include '_includes/icons' with { type: 'spinner' } %}
					</div>
				</div>
				
			</section>

			<section id="role-articles">
				<div></div>
				<div id="recent-articles">
					<h3>Recent Articles</h3>
					{% include 'blog/_includes/blog-posts' with { posts: recentArticles.all() } %}
				</div>
			</section>

			<div class="studio-goals">
				<section class="description">
					<h2 class="studio-title">
						<span id="intro-role">
							Your Music Goals
						</span>
					</h2>
				</section>
				<div id="intro-tips"></div>
				<div id="tips-spinner">
					<strong>Loading Your Customized Goals...</strong>
					{% include '_includes/icons' with { type: 'spinner' } %}
				</div>
			</div>

		</div>
	</div>

{% endblock %}