{% if 'bandpioneer.com' not in craft.app.sites.primarySite.baseUrl and 'localhost' not in craft.app.sites.primarySite.baseUrl %}
    {% redirect '/scam' %}
{% endif %}

{% set siteName = 'Band Pioneer' %}
{% set metaTitle = siteName %}
{% set rootSiteUrl = 'https://bandpioneer.com' %}
{% set pageUrl = rootSiteUrl ~ craft.app.request.url %}
{% set fixedHeader = fixedHeader is defined ? fixedHeader : false %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% if craft.app.config.env == 'production' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TSXPZGR');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {% apply spaceless %}

        {% set metaDesc = '' %}
        {% if entry is defined %}
            {% if entry.section.handle != 'homepage' %}
                {% set metaTitle = entry.title ~ ' | ' ~ metaTitle %}
            {% endif %}
            {% if entry.metaDescription is defined %}
                {% set metaDesc = entry.metaDescription %}
            {% endif %}
        {% endif %}

        {# Meta Tags #}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ metaTitle }}</title>
        {% if metaDesc | length > 0 %}<meta name="description" content="{{ metaDesc }}">{% endif %}
        <meta name="robots" content="all">

        {% if entry is defined %}

            {# Open Graph Tags #}

            <meta property="og:type" content="{{ entry.section.handle == 'blog' ? 'article' : 'website' }}" />
            <meta property="og:title" content="{{ entry.section.handle == 'homepage' ? siteName : entry.title }}" />
            {% if metaDesc | length > 0 %}
                <meta property="og:description" content="{{ metaDesc }}" />
            {% endif %}
            {% if entry.seoImage is defined and entry.seoImage.count %}
                <meta property="og:image" content="{{ rootSiteUrl ~ entry.seoImage.one().url }}" />
            {% endif %}
            <meta property="og:url" content="{{ pageUrl }}" />
            <meta property="og:site_name" content="{{ siteName }}" />

            {# Twitter Cards #}

            <meta name="twitter:title" content="{{ entry.section.handle == 'homepage' ? siteName : entry.title }}">
            {% if metaDesc | length > 0 %}
                <meta name="twitter:description" content="{{ metaDesc }}">
            {% endif %}
            {% if entry.seoImage is defined and entry.seoImage.count %}
                <meta name="twitter:image" content="{{ rootSiteUrl ~ entry.seoImage.one().url }}">
            {% endif %}
            <meta name="twitter:site" content="@jacksutherland">
            <meta name="twitter:creator" content="@jacksutherland">

        {% endif %}

        {% endapply %}

        {% apply spaceless %}

        <link rel="canonical" href="{{ pageUrl }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/site.css') }}" /> 
        {% endblock %}

        {% endapply %}

    </head>

    <body id="{{ entry.slug }}" class="{{ entry.section.handle | camel }}{% if fixedHeader %} fixed-header{% endif %}">

        <h2>{{ craft.app.request.url }}</h2>

        {% if craft.app.config.env == 'production' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSXPZGR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% apply spaceless %}

        {% if fixedHeader %}
            {% include '_includes/header' %}
        {% else %}
            <div class="page-header">
                {% include '_includes/header' %}
                {% if pageTitle is defined and pageTitle | length %}
                    <h1>{{ pageTitle }}</h1>
                {% elseif entry.section.handle == 'homepage' %}
                    <img class="main-logo" src="/assets/images/bp-logo.png">
                {% endif %}
            </div>
        {% endif %}
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <a href="/" class="logo">
                    <img src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" />
                </a>
                <nav>
                    <ul>
                        <li><a class="underline" href="/">Home</a></li>
                        <li><a class="underline" href="/about">About Us</a></li>
                        <li><a class="underline" href="/contact">Contact</a></li>
                        {# <li><a class="underline" href="/search?q=music">Search</a></li> #}
                    </ul>
                    <ul class="copyright">
                        <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                        <li>Website Engineered by <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% endapply %}
        
        <script src="{{ url('js/site.min.js') }}"></script>
        <script>
            new BandPioneer.Site('temp var val');
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>