{% set fixedHeader = fixedHeader is defined ? fixedHeader : false %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Band Pioneer</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

    {% block styles %}
        <link rel="stylesheet" href="{{ url('css/site.css') }}" /> 
    {% endblock %}
    </head>

    <body id="{{ entry.slug }}" class="{{ entry.section.handle | camel }}{% if fixedHeader %} fixed-header{% endif %}">

        {% if fixedHeader %}
            {% include '_includes/header' %}
        {% else %}
            <div class="page-header">
                {% include '_includes/header' %}
                {% if pageTitle is defined and pageTitle | length %}
                    <h1>{{ pageTitle }}</h1>
                {% elseif entry.section.handle == 'homepage' %}
                    <img class="main-logo" src="/assets/images/bp-logo.png">
                {% endif %}
            </div>
        {% endif %}
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <a href="/" class="logo">
                    <img src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" />
                </a>
                <nav>
                    <ul>
                        <li><a class="underline" href="/">Home</a></li>
                        <li><a class="underline" href="/about">About Us</a></li>
                        <li><a class="underline" href="/contact">Contact</a></li>
                        {# <li><a class="underline" href="/search?q=music">Search</a></li> #}
                    </ul>
                    <ul class="copyright">
                        <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                        <li>Website Created by <a href="https://www.jacksutherland.com" title="Jack Sutherland" target="_blank">Jack</a> at <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        
        <script src="{{ url('js/site.min.js') }}"></script>
        <script>
            new BandPioneer.Site('temp var val');
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>