
{% set versionNumber = '2.023' %}

{% set entrySlug = entry is defined ? entry.slug : 'no-slug' %}

{% set isSticky = isSticky is defined ? isSticky : false %}

{# ai.bandpioneer.com ONLY on Prod ENV #}
{# {% if 'ai.bandpioneer.com' in craft.app.request.absoluteUrl and entrySlug != 'battle' %}
    {% redirect 404 %}
{% elseif 'https://bandpioneer.com/ai-studio/battle' in craft.app.request.absoluteUrl %}
    {% set aiUrl = 'https://ai.bandpioneer.com/ai-studio/battle' %}
    {% set aiQueryString = craft.app.request.queryStringWithoutPath %}
    {% if aiQueryString %}
        {% set aiUrl = aiUrl ~ '?' ~ aiQueryString %}
    {% endif %}
    {% redirect aiUrl %}
{% endif %} #}

{% set rootSiteUrl = 'https://bandpioneer.com' %}
{% set pageUrl = rootSiteUrl ~ craft.app.request.url %}

{% set categories = craft.entries.section('category') %}

{% import '_includes/macros' as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>

         {% if craft.app.config.env == 'production' %}
            {#
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TSXPZGR');</script>
            <!-- End Google Tag Manager -->
            #}

            {# Direct GA4 Implementation - GTM is hurting Web Vitals #}
            <!-- Google tag (gtag.js) -->
             <link rel="preconnect" href="https://www.googletagmanager.com">
            <script async src="https://www.googletagmanager.com/gtag/js?id=git p"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-LYH6EW2ZX2');
            </script>
        {% endif %}

        {% include '_includes/metadata' %}

        {% apply spaceless %}

        <link rel="canonical" href="{{ pageUrl }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/site2023.css') }}?version={{ versionNumber }}" /> 
        {% endblock %}

        {% endapply %}

        {% block headerScripts %}{% endblock %}

    </head>

    <body class="{{ entry is defined ? entry.section.handle | camel : '' }}{% if isSticky %} sticky{% endif %}">

        <header class="site-header">
            <button id="open-menu" aria-label="Open the mobile navigation menu">
                {% include '_includes/icons' with { type: 'bars' } %}
            </button>
            <nav class="container" role="navigation">
                <ul>
                    <li>
                        <a class="dropdown" href="/" aria-label="Open the blog topics menu">
                            Topics {% include '_includes/icons' with { type: 'down' } %}
                        </a>
                        <ul>
                            <li>
                                <h3>Topics</h3>
                            </li>
                            {% for cat in categories.all() %}
                                {% if cat.show %}
                                    <li>
                                        <a href="{{ cat.url }}">
                                            {{ cat.title }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown" href="/" aria-label="Open the AI Studio menu">
                            AI Studio {% include '_includes/icons' with { type: 'down' } %}
                        </a>
                        <ul>
                            {% set bpUrl = siteUrl %}
                            {% if bpUrl | slice(-1) != '/' %}
                                {% set bpUrl = bpUrl ~ '/' %}
                            {% endif %}
                            <li>
                                <h3>AI Music Studio</h3>
                                <h4>What do you play?</h4>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=singer">Vocalist</a>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=guitarist">Guitarist</a>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=bassist">Bassist</a>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=drummer">Drummer</a>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=keyboardist">Keyboardist</a>
                            </li>
                            <li>
                                <a href="{{ bpUrl }}ai-studio?role=musician">Other</a>
                            </li>
                            <li>
                                <h3>Great AI Debate (beta)</h3>
                                <h4>Pick a topic to test the demo:</h4>
                            </li>
                            <li>
                                <a class="underline" href="{{ bpUrl }}ai-studio/battle?topic=small-talk">Small Talk</a>
                            </li>
                            <li>
                                <a class="underline" href="{{ bpUrl }}ai-studio/battle?topic=music-decades">The Best Decade for Music</a>
                            </li>
                            <li>
                                <a class="underline" href="{{ bpUrl }}ai-studio/battle?topic=music-genres">The Best Genre for Music</a>
                            </li>
                            <li>
                                <a class="underline" href="{{ bpUrl }}ai-studio/battle?topic=ai-music">AI Music Generators</a>
                            </li>
                            <li>
                                <a class="underline" href="{{ bpUrl }}ai-studio/battle?topic=music-censorship">Music Censorship</a>
                            </li>
                        </ul>
                </ul>
                <a class="logo" href="/">
                    <img src="/assets/images/bp-logo-header.png" alt="Band Pioneer - Insights and Marketing for Profitable Musicians" width="180" height="117">
                    <img loading="eager" class="logo-alt" src="/assets/images/bp-logo-alt-small.png" alt="Band Pioneer" title="Band Pioneer" width="180" height="56" />
                </a>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="search">
                        <a href="/search">Search</a>
                        <label for="search-toggle">
                            {% include '_includes/icons' with { type: 'search' } %}
                        </label>
                    </li>
                </ul>
            </nav>
        </header>

        <input type="checkbox" id="search-toggle">
        <div class="search-dropdown">
            <div class="container narrow-container">
                <form action="/search" method="get">
                    {% include '_includes/icons' with { type: 'search' } %}
                    <input id="search-input" type="text" name="q" placeholder="Enter a question and press [ENTER]">
                </form>
            </div>
        </div>

        {% block header %}
        {% endblock %}

        <nav role="navigation" class="categories" aria-label="Primary Navigation">
            <div class="container">
                <ul>
                    {% for cat in categories.all() %}
                        {% if cat.show %}
                            <li>
                                <a data-popup="topic-{{ cat.id }}" href="{{ cat.url }}"{% if cat.slug == (craft.app.request.segments | first) %} class="active"{% endif %}>
                                    {{ cat.title }}
                                </a>
                                <div id="topic-{{ cat.id }}" class="popup">
                                    <h3>{{ cat.headline }}</h3>
                                    <p>{{ cat.shortDescription }}</p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="sticky-tracker"></div>

        {% apply spaceless %}
            <main>
                {% block content %}
                {% endblock %}
            </main>
        {% endapply %}

        {% cache globally %}
            <footer>
                <div class="container">
                    <div>    
                        <a href="/" class="logo">
                            <img loading="lazy" src="{{ url('assets/images/bp-logo-header.png') }}" alt="Band Pioneer" title="Band Pioneer" width="180" height="117" />
                        </a>
                        <br><br>
                        <div id="ezoic-accreditation-container"></div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/electronic-press-kit">EPK</a></li>
                            <li><a href="/" onclick="bp.signUp(); return false;" title="Subscribe to our newsletter">Subscribe</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                        <ul class="blog-categories">
                            {% for cat in categories.all() %}
                                {% if cat.show %}
                                    <li><a class="underline" href="{{ cat.url }}">{{ cat.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {# <li><a class="underline" href="/quick-tips">Quick Tips</a></li> #}
                        </ul>
                        <ul class="copyright">
                            <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                            <li>Website Engineered by <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
                        </ul>
                    </nav>
                </div>
            </footer>
        {% endcache %}
        
        <script defer src="{{ url('js/site2023.min.js') }}?version={{ versionNumber }}"></script>
        <script defer>
            var bp = null;
            document.addEventListener("DOMContentLoaded", function()
            {
                bp = new BandPioneerUX();
            });
        </script>
        {% block scripts %}{# Load template scripts here #}{% endblock %}

    </body>
</html>