{% set fixedHeader = fixedHeader is defined ? fixedHeader : false %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Band Pioneer</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ url('css/site.css') }}" /> 
    {% endblock %}
    </head>

    <body id="{{ entry.slug }}" class="{{ entry.section.handle | camel }}{% if fixedHeader %} fixed-header{% endif %}">

        {% if fixedHeader %}
            {% include '_includes/header' %}
        {% else %}
            <div class="page-header">
                {% include '_includes/header' %}
                {% if pageTitle is defined and pageTitle | length %}
                    <h1>{{ pageTitle }}</h1>
                {% endif %}
            </div>
        {% endif %}
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <a href="/" class="logo">
                    <img src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" />
                </a>
                <nav>
                    <ul>
                        <li><a class="underline" href="#">About Us</a></li>
                        <li><a class="underline" href="#">Articles</a></li>
                        <li><a class="underline" href="#">Contact</a></li>
                        <li><a class="underline" href="#">Search</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        
        <script src="{{ url('js/site.min.js') }}"></script>
        <script>
            new BandPioneer.Site('temp var val');
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>