{% set versionNumber = '2.120' %}

{% set entrySlug = entry is defined ? entry.slug : 'no-slug' %}
{% set isSticky = isSticky is defined ? isSticky : false %}
{% set isMobile = craft.app.request.isMobileBrowser(false) %}
{% set showLogin = craft.app.request.getQueryParam('login') ?? '' %}
{% set showCategoryNav = showCategoryNav is defined ? showCategoryNav : true %}
{% set disableAds = disableAds is defined ? disableAds : (entry is defined and entry['disableAds'] is defined ? entry.disableAds : false) %}

{# ai.bandpioneer.com ONLY on Prod ENV #}
{# {% if 'ai.bandpioneer.com' in craft.app.request.absoluteUrl and entrySlug != 'battle' %}
    {% redirect 404 %}
{% elseif 'https://bandpioneer.com/ai-studio/battle' in craft.app.request.absoluteUrl %}
    {% set aiUrl = 'https://ai.bandpioneer.com/ai-studio/battle' %}
    {% set aiQueryString = craft.app.request.queryStringWithoutPath %}
    {% if aiQueryString %}
        {% set aiUrl = aiUrl ~ '?' ~ aiQueryString %}
    {% endif %}
    {% redirect aiUrl %}
{% endif %} #}

{% set rootSiteUrl = 'https://bandpioneer.com' %}
{% set pageUrl = rootSiteUrl ~ craft.app.request.url %}

{% set categories = craft.entries.section('topics') %}
{% set genresAndDecades = craft.entries.section('categories') %}

{% import '_includes/macros' as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>

         {% if craft.app.config.env == 'production' %}
            {#
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TSXPZGR');</script>
            <!-- End Google Tag Manager -->
            #}

            {# Direct GA4 Implementation - GTM is hurting Web Vitals #}
            <!-- Google tag (gtag.js) -->
            <link rel="preconnect" href="https://www.googletagmanager.com">
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-LYH6EW2ZX2"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-LYH6EW2ZX2');
            </script>
        {% endif %}

        {% include '_includes/metadata' %}

        {% apply spaceless %}

        <link rel="canonical" href="{{ pageUrl }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <link rel="preload" href="/assets/fonts/conthrax-sb.woff2" as="font" type="font/woff2" crossorigin>

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/site2023.min.css') }}?version={{ versionNumber }}" /> 
        {% endblock %}

        {% endapply %}

        {# <script defer type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60f99a793b1d5d001213a396&product=inline-share-buttons' async='async'></script> #}

        {# Mediavine loaded in site2023.js constructor #}
        {# Mediavine script as provided #}
        {# <script type="text/javascript" async="async" data-noptimize="1" data-cfasync="false" src="//scripts.mediavine.com/tags/band-pioneer.js"></script> #}
        {# Mediavine script deferred #}
        {# <script defer type="text/javascript" data-noptimize="1" data-cfasync="false" src="//scripts.mediavine.com/tags/band-pioneer.js"></script> #}

        {% block headerScripts %}{% endblock %}

    </head>

    <body class="{{ entry is defined ? entry.section.handle | camel : '' }}{% if isSticky %} sticky{% endif %}">

        {% set headerCacheKey = "header-20240524-" ~ (isMobile ? 'mobile' : 'desktop') %}

        <header class="site-header">
            <button id="open-menu" aria-label="Open the mobile navigation menu">
                {% include '_includes/icons' with { type: 'bars' } %}
            </button>
            
            <nav class="container" role="navigation">
                {% cache using key headerCacheKey %}
                    <ul>
                        <li>
                            <a class="dropdown" href="/" aria-label="Open the blog topics menu" title="View Article Topics">
                                Topics {% include '_includes/icons' with { type: 'down' } %}
                            </a>
                            <ul>
                                <li>
                                    <h3>Topics</h3>
                                </li>
                                {% for cat in categories.all() %}
                                    {% if cat.show %}
                                        <li>
                                            <a href="{{ cat.url }}">
                                                {{ cat.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% set decades = [] %}
                        {% set instruments = [] %}
                        {% if genresAndDecades.count %}
                            <li>
                                <a class="dropdown" href="/" aria-label="Open the blog genres menu" title="View Article Categories">
                                    Categories {% include '_includes/icons' with { type: 'down' } %}
                                </a>
                                <ul>
                                    <li>
                                        <h3>Genres</h3>
                                    </li>
                                    {% for genre in genresAndDecades.all() %}
                                        {% if genre.show %}
                                            {% if genre.type == 'decade' %}
                                                {% set decades = decades | merge([genre]) %}
                                            {% elseif genre.type == 'instrument' %}
                                                {% set instruments = instruments | merge([genre]) %}
                                            {% else %}
                                                <li>
                                                    <a href="/genre/{{ genre.slug }}">
                                                        {{ genre.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if decades | length %}
                                        <li>
                                            <h3>Decades</h3>
                                        </li>
                                        {% for decade in decades %}
                                            {% if decade.show %}
                                                <li>
                                                    <a href="/decade/{{ decade.slug }}">
                                                        {{ decade.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if instruments | length %}
                                        <li>
                                            <h3>Instruments</h3>
                                        </li>
                                        {% for instrument in instruments %}
                                            {% if instrument.show %}
                                                <li>
                                                    <a href="/instrument/{{ instrument.slug }}">
                                                        {{ instrument.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown" href="/" aria-label="Open the AI Studio menu" title="Custom AI Music Tips">
                                AI Studio {% include '_includes/icons' with { type: 'down' } %}
                            </a>
                            <ul>
                                {% set bpUrl = siteUrl %}
                                {% if bpUrl | slice(-1) != '/' %}
                                    {% set bpUrl = bpUrl ~ '/' %}
                                {% endif %}
                                <li>
                                    <h3>AI Music Studio</h3>
                                    <h4>What do you play?</h4>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=singer">Vocalist</a>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=guitarist">Guitarist</a>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=bassist">Bassist</a>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=drummer">Drummer</a>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=keyboardist">Keyboardist</a>
                                </li>
                                <li>
                                    <a href="{{ bpUrl }}ai-studio?role=musician">Other</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="logo" href="/">
                        {% if (not isMobile) %}
                            <img alt="Band Pioneer: Empowering Profitable Musicians" title="Band Pioneer: Empowering Profitable Musicians" 
                                width="180" height="117" 
                                src="/assets/images/bp-logo-small.png" 
                                srcset="/assets/images/bp-logo-2x.png 2x">
                        {% endif %}
                        <img loading="eager" class="logo-alt" alt="Band Pioneer" title="Band Pioneer: Empowering Profitable Musicians" 
                            width="180" height="56" 
                            src="/assets/images/bp-logo-alt-small.png" 
                            srcset="/assets/images/bp-logo-alt-2x.png 2x" />
                    </a>
                {% endcache %}
                <ul> 
                    <li>
                        <a href="/about" title="About Band Pioneer">About Us</a>
                    </li>
                    <li>
                        <a href="/contact" title="Contact Us">Contact</a>
                    </li> 
                    <li>
                        {% if currentUser %}
                            <a title="Logout {{ currentUser.email }}" href="{{ url('logout') }}">Logout</a>
                        {% else %}
                            <a href="/" onclick="return bp.login();">Sign in</a>
                        {% endif %}
                    </li>
                    {% if currentUser %}
                        <li>
                            <a href="/account" title="{{ currentUser.fullName ~ ' (' ~ currentUser.email ~ ')' }}">
                                {% include '_includes/icons' with { type: 'user' } %}
                                <span>Account</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="search">
                        <a href="/search" title="Search Band Pioneer">Search</a>
                        <label for="search-toggle">
                            {% include '_includes/icons' with { type: 'search' } %}
                        </label>
                    </li>
                </ul>
            </nav>
        </header>

        <input type="checkbox" id="search-toggle">
        <div class="search-dropdown">
            <div class="container narrow-container">
                <form class="search-box" action="/search" method="get">
                    <input id="search-input" type="text" name="q" placeholder="Enter a music question">
                    <button>{% include '_includes/icons' with { type: 'search' } %}</button>
                </form>
            </div>
        </div>

        {% block header %}
        {% endblock %}

        {% if showCategoryNav %}
            {% cache %}
                <nav role="navigation" class="categories" aria-label="Primary Navigation">
                    <div class="container">
                        <ul>
                            {% for cat in categories.all() %}
                                {% if cat.show %}
                                    <li>
                                        <a data-popup="topic-{{ cat.id }}" href="{{ cat.url }}"{% if cat.slug == (craft.app.request.segments | first) %} class="active"{% endif %}>
                                            {{ cat.title }}
                                        </a>
                                        <div id="topic-{{ cat.id }}" class="popup">
                                            <h3>{{ cat.headline }}</h3>
                                            <p>{{ cat.shortDescription }}</p>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            {% endcache %}
        {% endif %}

        <div class="sticky-tracker"></div>

        {% apply spaceless %}
            <main>
                {% block content %}
                {% endblock %}
            </main>
        {% endapply %}

        {% if disableAds %}
            <div id="mediavine-settings" data-blocklist-leaderboard="1" data-blocklist-sidebar-atf="1" data-blocklist-sidebar-btf="1" data-blocklist-content-desktop="1" data-blocklist-content-mobile="1" data-blocklist-adhesion-mobile="1" data-blocklist-adhesion-tablet="1" data-blocklist-adhesion-desktop="1" data-blocklist-recipe="1" data-blocklist-auto-insert-sticky="1" data-blocklist-in-image="1" data-blocklist-chicory="1" data-blocklist-zergnet="1" data-blocklist-interstitial-mobile="1" data-blocklist-interstitial-desktop="1" data-blocklist-universal-player-desktop="1" data-blocklist-universal-player-mobile="1" ></div>
        {% endif %}

        <footer>
            <div class="container">
                {% cache globally %}
                    <div>    
                        <a href="/" class="logo">
                            <img loading="lazy" alt="Band Pioneer: Empowering Profitable Musicians" title="Band Pioneer: Empowering Profitable Musicians" 
                                width="180" height="117"
                                src="/assets/images/bp-logo-small.png"
                                srcset="/assets/images/bp-logo-2x.png 2x" />
                        </a>
                    </div>
                {% endcache %}
                <nav>
                    {% cache globally %}
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/electronic-press-kit">EPK</a></li>
                            <li><a href="/" onclick="bp.signUp(); return false;" title="Subscribe to our newsletter">Subscribe</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                        <ul class="blog-categories">
                            {% for cat in categories.all() %}
                                {% if cat.show %}
                                    <li><a class="underline" href="{{ cat.url }}">{{ cat.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endcache %}
                    <ul class="copyright">
                        <li>
                            {% if currentUser %}
                                {% if currentUser.fullName | length %}
                                    Logged in as {{currentUser.fullName}} ({{currentUser.email}}) 
                                {% else %}
                                    Logged in as {{currentUser.email}} 
                                {% endif %}
                                <a href="{{ url('logout') }}">Logout</a>
                            {% else %}
                                <a href="/" onclick="return bp.login();">Sign in</a> to Band Pioneer
                            {% endif %}
                        </li>
                        <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                        <li>Website Engineered by <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% if not currentUser %}
            <div id="login-modal" class="overlay login-modal">
                <div class="modal">
                    <a class="close-icon-button" href="/">{% include '_includes/icons' with { type: 'close' } %}</a>
                    <div>
                        <h3>Sign in to Band Pioneer</h3>
                        <p>Joining is easy! Just sign in using a Google or Discord account.</p>
                        <a class="login-provider" href="{{ craft.socialLogin.getLoginUrl('google') }}">Sign in with Google</a>
                        {# <a class="login-provider" href="{{ craft.socialLogin.getLoginUrl('amazon') }}">Sign in with Amazon</a> #}
                        <a class="login-provider" href="{{ craft.socialLogin.getLoginUrl('discord') }}">Sign in with Discord</a>
                        {# <a class="login-provider" href="{{ craft.socialLogin.getLoginUrl('tikTok') }}">Sign in with TikTok</a> #}
                    </div>
                </div>
            </div>
        {% endif %}
        
        <script defer src="{{ url('js/site2023.min.js') }}?version={{ versionNumber }}"></script>
        <script defer>
            var bp = null;
            document.addEventListener("DOMContentLoaded", function()
            {
                bp = new BandPioneerUX();

                {% if showLogin %}
                    bp.login();
                {% endif %}
            });
        </script>
        {% block scripts %}{# Load template scripts here #}{% endblock %}

    </body>
</html>