{# {% if 'bandpioneer.com' not in craft.app.request.absoluteUrl and 'localhost' not in craft.app.request.absoluteUrl %}
    {% redirect '/scam' %}
{% endif %} #}

{% set versionNumber = '1.04' %}
{% set siteName = 'Band Pioneer' %}
{% set metaTitle = siteName %}
{% set rootSiteUrl = 'https://bandpioneer.com' %}
{% set pageUrl = rootSiteUrl ~ craft.app.request.url %}
{% set fixedHeader = fixedHeader is defined ? fixedHeader : false %}
{% set categories = craft.entries.section('category') %}

{% import '_includes/macros' as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% if craft.app.config.env == 'production' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TSXPZGR');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {# {% apply spaceless %} #}

        {% set metaDesc = '' %}
        {% if entry is defined %}
            {% if entry.metaTitle is defined and entry.metaTitle | length %}
                {% set metaTitle = entry.metaTitle ~ ' | ' ~ metaTitle %}
            {% elseif entry.section.handle != 'homepage' %}
                {% set metaTitle = entry.title ~ ' | ' ~ metaTitle %}
            {% endif %}
            {% if entry.metaDescription is defined %}
                {% set metaDesc = entry.metaDescription %}
            {% endif %}
        {% endif %}

        {# Meta Tags #}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>{{ metaTitle }}</title>
        {% if metaDesc | length > 0 %}<meta name="description" content="{{ metaDesc }}">{% endif %}
        <meta name="robots" content="all">

        {% if entry is defined %}

            {# Open Graph Tags #}

            <meta property="og:type" content="{{ entry.section.handle == 'blog' ? 'article' : 'website' }}" />
            {% if entry.metaTitle is defined and entry.metaTitle | length %}
                <meta property="og:title" content="{{ entry.metaTitle }}" />
            {% else %}
                <meta property="og:title" content="{{ entry.section.handle == 'homepage' ? siteName : entry.title }}" />
            {% endif %}
            {% if metaDesc | length > 0 %}
                <meta property="og:description" content="{{ metaDesc }}" />
            {% endif %}
            {% if entry.seoImage is defined and entry.seoImage.count %}
                <meta property="og:image" content="{{ rootSiteUrl ~ entry.seoImage.one().url('ogImage') }}" />
            {% endif %}
            <meta property="og:url" content="{{ pageUrl }}" />
            <meta property="og:site_name" content="{{ siteName }}" />

            {# Twitter Cards #}

            <meta name="twitter:title" content="{{ entry.section.handle == 'homepage' ? siteName : entry.title }}">
            {% if metaDesc | length > 0 %}
                <meta name="twitter:description" content="{{ metaDesc }}">
            {% endif %}
            {% if entry.seoImage is defined and entry.seoImage.count %}
                <meta name="twitter:image" content="{{ rootSiteUrl ~ entry.seoImage.one().url('twitterImage') }}">
            {% endif %}
            <meta name="twitter:site" content="@jacksutherland">
            <meta name="twitter:creator" content="@jacksutherland">

        {% endif %}

        {# {% endapply %} #}

        {% apply spaceless %}

        <link rel="canonical" href="{{ pageUrl }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/site.css') }}?version={{ versionNumber }}" /> 
        {% endblock %}

        {% endapply %}

    </head>

    <body id="{{ entry.slug }}" class="{{ entry.section.handle | camel }}{% if fixedHeader %} fixed-header{% endif %}">

        {% if craft.app.config.env == 'production' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSXPZGR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% apply spaceless %}

        {% if fixedHeader %}
            {% include '_includes/header' %}
        {% else %}
            <div {% if entry["heroImage"] is defined and entry.heroImage is not null and entry.heroImage.count %}style="background-image: url({{ entry.heroImage.one().url  }});" class="page-header hero"{% else %}class="page-header"{% endif %}>
                {% include '_includes/header' %}
                {% if pageTitle is defined and pageTitle | length %}
                    <h1>{{ pageTitle }}</h1>
                    {% if pageSubtitle is defined and pageSubtitle | length %}
                        <h2>{{ pageSubtitle }}</h2>
                    {% endif %}
                {% elseif entry.section.handle == 'homepage' %}
                    <img class="main-logo" src="/assets/images/bp-logo.png" width="420" height="272">
                {% endif %}
            </div>
        {% endif %}
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <a href="/" class="logo">
                    <img src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" />
                </a>
                <nav>
                    <ul>
                        <li><a class="underline" href="/">Home</a></li>
                        <li><a class="underline" href="/about">About</a></li>
                        <li><a class="underline" href="/electronic-press-kit">EPK</a></li>
                        <li><a class="underline" href="/contact">Contact</a></li>
                        <li><a class="underline" href="/privacy">Privacy Policy</a></li>
                    </ul>
                    <ul class="blog-categories">
                        {% for cat in categories.all() %}
                            {% if cat.show %}
                                <li><a class="underline" href="{{ cat.url }}">{{ cat.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul class="copyright">
                        <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                        <li>Website Engineered by <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% endapply %}
        
        <script src="{{ url('js/site.min.js') }}?version={{ versionNumber }}"></script>
        <script>
            var bp = new BandPioneer.Site();
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>