{% extends '_layout' %}

{% set pageTitle = "Let's Connect!" %}
{% set entry = { slug: 'contact', title: 'Contact Us', section: { handle: 'contact' } } %}
{% set articles = craft.entries.section('blog').limit(6).orderBy('RAND()') %}
{% set categories = craft.entries.section('category') %}
{% set topicIdea = craft.app.request.getQueryParam('ask') == 'question' %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set submission = submission ?? null %}

{% block content %}

    <div class="page container">

        {% if topicIdea %}
            {% set homepage = craft.entries.section('homepage').one() %}
            {% include '_includes/ask-a-question' with { showButton: false, useH1: false, headline: homepage.headline, subheadline: homepage.subheadline, text: homepage.shortDescription } %}
        {% endif %}

        <form method="post" action="" accept-charset="UTF-8" class="contact-form">
            {{ csrfInput() }}
            {{ actionInput('contact-form/send') }}
            {{ input('hidden', 'subject', (topicIdea ? 'Topic Idea' : 'Contact'), { id: 'subject',}) }}

            {% if not topicIdea %}
                <h3 id="form-info">
                    Got a question you'd like answered on Band Pioneer?<br />Use the form below to let us know.<br /><br />Or just send us some good vibes.
                </h3>
            {% endif %}

            {{ input('text', 'fromName', submission.fromName ?? '', {
                id: 'from-name',
                autocomplete: 'name',
                placeholder: 'Full Name'
            }) }}
            {# {{ submission ? _self.errorList(submission.getErrors('fromName')) }} #}

            {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                id: 'from-email',
                autocomplete: 'email',
                placeholder: 'Email'
            }) }}
            {# {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }} #}

            <input type="text" name="phone" placeholder="Phone Number">

            {{ tag('textarea', {
                text: submission.message ?? '',
                id: 'message',
                name: 'message',
                placeholder: 'Comments'
            }) }}

            {% set errors = [] %}
            
            {% if craft.app.session.hasFlash('notice') %}
                {% set errors = [craft.app.session.getFlash('notice')] %}
            {% endif %}

            {% if submission %}
                {% if submission.hasErrors('fromName') %}
                    {% set errors = errors | merge(submission.getErrors('fromName')) %}
                {% endif %}
                {% if submission.hasErrors('fromEmail') %}
                    {% set errors = errors | merge(submission.getErrors('fromEmail')) %}
                {% endif %}
                {% if submission.hasErrors('message') %}
                    {% set errors = errors | merge(submission.getErrors('message')) %}
                {% endif %}
            {% endif %}

            {% if errors | length %}
                {{ _self.errorList(errors) }}
            {% endif %}

            <button class="btn" type="submit">Send</button>
        </form>

        <section class="blog">

            <div class="container narrow-container">

                <h3 class="section-title"><span>Ready To Jump Back In?</span></h3>

                {% include '_includes/related-content' with { articles: articles } %}

                {% include '_includes/related-categories' with { categories: categories } %}
            </div>

        </section>

    </div>

{#
        

<form method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('contact-form/send') }}
    {{ redirectInput('contact/thanks') }}

    <h3><label for="from-name">Your Name</label></h3>
    {{ input('text', 'fromName', submission.fromName ?? '', {
        id: 'from-name',
        autocomplete: 'name',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('fromName')) }}

    <h3><label for="from-email">Your Email</label></h3>
    {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
        id: 'from-email',
        autocomplete: 'email',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}

    <h3><label for="subject">Subject</label></h3>
    {{ input('text', 'subject', submission.subject ?? '', {
        id: 'subject',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('subject')) }}

    <h3><label for="message">Message</label></h3>
    {{ tag('textarea', {
        text: submission.message ?? '',
        id: 'message',
        name: 'message',
        rows: 10,
        cols: 40,
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('message')) }}

    <button type="submit">Send</button>
</form>
#}

{% endblock %}