{% extends '_layout' %}

{% set pageTitle = "Let's Connect!" %}
{% set entry = { slug: 'contact', title: 'Contact Us', section: { handle: 'contact' } } %}
{% set articles = craft.entries.section('blog').limit(6).orderBy('RAND()') %}
{% set categories = craft.entries.section('category') %}
{% set topicIdea = craft.app.request.getQueryParam('ask') == 'question' %}
{% set epkSignUp = craft.app.request.getQueryParam('ask') == 'epk' %}
{% set betaUser = craft.app.request.getQueryParam('ask') == 'beta' %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set submission = submission ?? null %}

{% block scripts %}
    {% if topicIdea %}
        <script>
            document.getElementById('message').value = 'I have an idea for your next article... ';
            document.getElementById('message').focus();
        </script>
    {% elseif epkSignUp %}
        <script>
            document.getElementById('message').value = "Sign me up to become a Band Pioneer EPK beta member! ";
            document.getElementById('from-name').focus();
        </script>
    {% elseif betaUser %}
        <script>
            document.getElementById('message').value = "I'm an EPK user and have feedback I'd like to share. ";
            document.getElementById('from-name').focus();
        </script>
    {% else %}
        <script>
            document.getElementById('from-name').focus();
        </script>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="page container">

        {% if topicIdea %}
            {% set homepage = craft.entries.section('homepage').one() %}
            {% include '_includes/ask-a-question' with { showButton: false, useH1: false, headline: homepage.headline, subheadline: homepage.subheadline, text: homepage.shortDescription } %}
        {% endif %}

        <form method="post" action="" accept-charset="UTF-8" class="contact-form">
            {{ csrfInput() }}
            {{ actionInput('contact-form/send') }}
            {% if topicIdea %}
                {{ input('hidden', 'subject', 'Topic Idea', { id: 'subject',}) }}
            {% elseif epkSignUp %}
                {{ input('hidden', 'subject', 'EPK Sign Up', { id: 'subject',}) }}
            {% elseif betaUser %}
                {{ input('hidden', 'subject', 'Beta User Feedback', { id: 'subject',}) }}
            {% else %}
                {{ input('hidden', 'subject', 'Contact', { id: 'subject',}) }}
            {% endif %}

            {% if epkSignUp %}
                <h3 id="form-info">
                    Interested in signing up for Band Pioneer's new EPK builder?<br /><br />Use the form below to let us know.<br />And you'll be on our list for early access.
                </h3>
            {% elseif not betaUser %}
                <h3 id="form-info">
                    Got a question you'd like answered on Band Pioneer?<br />Use the form below to let us know.<br /><br />Or just send us some good vibes.
                </h3>
            {% elseif not topicIdea %}
                <h3 id="form-info">
                    Got a question you'd like answered on Band Pioneer?<br />Use the form below to let us know.<br /><br />Or just send us some good vibes.
                </h3>
            {% endif %}

            {{ input('text', 'fromName', submission.fromName ?? '', {
                id: 'from-name',
                autocomplete: 'name',
                placeholder: 'Full Name'
            }) }}

            {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                id: 'from-email',
                autocomplete: 'email',
                placeholder: 'Email'
            }) }}

            <input type="text" name="phone" placeholder="Phone Number">

            {{ tag('textarea', {
                text: submission.message ?? '',
                id: 'message',
                name: 'message',
                placeholder: 'Comments'
            }) }}

            {% set errors = [] %}
            
            {% if craft.app.session.hasFlash('notice') %}
                {% set errors = [craft.app.session.getFlash('notice')] %}
            {% endif %}

            {% if submission %}
                {% if submission.hasErrors('fromName') %}
                    {% set errors = errors | merge(submission.getErrors('fromName')) %}
                {% endif %}
                {% if submission.hasErrors('fromEmail') %}
                    {% set errors = errors | merge(submission.getErrors('fromEmail')) %}
                {% endif %}
                {% if submission.hasErrors('message') %}
                    {% set errors = errors | merge(submission.getErrors('message')) %}
                {% endif %}
            {% endif %}

            {% if errors | length %}
                {{ _self.errorList(errors) }}
            {% endif %}

            <button class="btn" type="submit">Send</button>
        </form>

        <section class="blog">

            <div class="container narrow-container">

                <h3 class="section-title"><span>Ready To Jump Back In?</span></h3>

                {% include '_includes/related-content' with { articles: articles } %}

                {% include '_includes/related-categories' with { categories: categories } %}
            </div>

        </section>

    </div>

{% endblock %}