{% extends '_layout2023' %}

{% set disableAds = true %} 
{% set entry = { slug: 'contact', title: 'Contact Us', section: { handle: 'contact' } } %}
{% set submission = submission ?? null %}
{% set articles = craft.entries.section('blog').limit(6).orderBy('RAND()') %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% block headerScripts %}
	 <script src="https://www.google.com/recaptcha/api.js"></script>
	 <script>
		function onSubmit(token)
		{
			document.getElementById("contact-form").submit();
		}
	</script>
{% endblock %}

{% block header %}
	<section class="rich-text">
		<div class="container">
			<h1>Let's Connect!</h1>
			<h2>Got a question you'd like answered on Band Pioneer? Use the form below to let us know.</h2>
		</div>
	</section>
{% endblock %}

{% block content %}

    <section>
    	<div class="container">
	        <form method="post" action="" accept-charset="UTF-8" id="contact-form" class="contact-form">
	            {{ csrfInput() }}
	            {{ actionInput('contact-form/send') }}
	            {{ input('hidden', 'subject', 'Contact', { id: 'subject',}) }}
	            
	         {#    {% if epkSignUp %}
	                <h3 id="form-info">
	                    Interested in signing up for Band Pioneer's new EPK builder?<br /><br />Use the form below to let us know.<br />And you'll be on our list for early access.
	                </h3>
	            {% elseif betaUser %}
	                <h3 id="form-info">
	                    If you're a Band Pioneer EPK User and are experiencing a problem, or have a question or feature request, fill out the form below to let us know.
	                    <br><br>
	                    We try to respond to users within 24-48 hours.
	                </h3>
	            {% elseif not topicIdea %}
	                <h3 id="form-info">
	                    Got a question you'd like answered on Band Pioneer?<br />Use the form below to let us know.<br /><br />Or just send us some good vibes.
	                </h3>
	            {% endif %} #}

	            {{ input('text', 'fromName', submission.fromName ?? '', {
	                id: 'from-name',
	                autocomplete: 'name',
	                placeholder: 'Full Name'
	            }) }}

	            {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
	                id: 'from-email',
	                autocomplete: 'email',
	                placeholder: 'Email'
	            }) }}

	            <input type="text" name="phone" placeholder="Phone Number">

	            {{ tag('textarea', {
	                text: submission.message ?? '',
	                id: 'message',
	                name: 'message',
	                placeholder: 'Comments'
	            }) }}

	            {% set errors = [] %}
	            
	            {% if craft.app.session.hasFlash('notice') %}
	                {% set errors = [craft.app.session.getFlash('notice')] %}
	            {% endif %}

	            {% if submission %}
	                {% if submission.hasErrors('fromName') %}
	                    {% set errors = errors | merge(submission.getErrors('fromName')) %}
	                {% endif %}
	                {% if submission.hasErrors('fromEmail') %}
	                    {% set errors = errors | merge(submission.getErrors('fromEmail')) %}
	                {% endif %}
	                {% if submission.hasErrors('message') %}
	                    {% set errors = errors | merge(submission.getErrors('message')) %}
	                {% endif %}
	            {% endif %}

	            {% if errors | length %}
	                {{ _self.errorList(errors) }}
	            {% elseif craft.app.session.hasFlash('success') %}
	            	<span class="success">{{ craft.app.session.getFlash('success') }}</span>
	            {% endif %}

	            <button type="submit" 
	            	class="g-recaptcha" 
			        data-sitekey="6LfcXigpAAAAAMKrr8U2RKDK_h0KfQBXN9WmWJDB" 
			        data-callback='onSubmit' 
			        data-action='submit'>Send</button>
	        </form>
        </div>

    </section>

{% endblock %}