{% extends '_layout2023' %}

{% set postsPerPage = 12 %}
{% set isMobile = craft.app.request.isMobileBrowser(false) %}

{% set blogQuery = craft.entries.section('blog') %}
{% paginate blogQuery.limit(1) as firstPageInfo, tempPosts %}

{% set defaultBlogImage = blog.defaultBlogImage.one() %}

{% if firstPageInfo.currentPage == 1 %}
	{% set isSticky = false %}
	{% set isFirstPage = true %}

	{# Manual Featured Post #}
	{% if blog.featuredBlogPost.count %}
		{% set featured = blog.featuredBlogPost.one() %}
		{% set blogQuery = blogQuery.id('and, not '~ featured.id) %}
		{% paginate blogQuery.limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}
		{% set recentPosts = posts %}
	{% else %}
		{% paginate blogQuery.limit(postsPerPage + 1).orderBy('postDate DESC') as pageInfo, posts %}
		{% set featured = posts[0] %}
		{% set recentPosts = posts[1:] %}
	{% endif %}

{% else %}
	{% set isSticky = true %}
	{% set isFirstPage = false %}
	{% paginate blogQuery.limit(postsPerPage).offset(1).orderBy('postDate DESC') as pageInfo, posts %}
	{% set recentPosts = posts %}
{% endif %}

{% block styles %}
	{% if isFirstPage %}
    	<link rel="stylesheet" href="{{ url('css/homepage2023.min.css') }}?version={{ versionNumber }}" /> 
    {% else %}
    	{{ parent() }}
    {% endif %}
{% endblock %}

{% block scripts %}
	{% if isFirstPage %}
		<script defer>
			var hero = null;
			var bkg = null;
			var imgTop = 0;

			function heroScrollListener()
			{
				const { top } = hero.getBoundingClientRect();
				const sectionHeight = hero.offsetHeight;
				const imgHeight = bkg.offsetHeight;
				const windowHeight = window.innerHeight;
				const scrollProgress = -top / (sectionHeight - windowHeight);
				const newTop = Math.round((scrollProgress/2) * (sectionHeight - imgHeight));

				if(imgTop !== newTop)
				{
					imgTop = newTop;
					bkg.style.top = `${imgTop}px`;
				}
			}

            document.addEventListener("DOMContentLoaded", function()
            {
                if (typeof(bp) !== undefined)
                {
                	bp.createBandCarousels();
                }

                {% if not isMobile %}

	                hero = document.querySelector('#cta-text');
					bkg = document.querySelector('#hero-plax');
					let observerOptions = { threshold: [0] };
					if(window.innerHeight < 900)
						observerOptions.rootMargin = '15% 0% 15% 0%';
					else
						observerOptions.rootMargin = '0% 0% 0% 0%';
					
					const observer = new IntersectionObserver((entries, observer) => 
					{ 
						entries.forEach(entry => {
							if(entry.isIntersecting)
								document.addEventListener('scroll', heroScrollListener);
							else
								document.removeEventListener('scroll', heroScrollListener);
						});
					}, observerOptions);

					observer.observe(hero);

					heroScrollListener();

				{% endif %}
            });
        </script>
        <script type="text/javascript">
			function sendClickEvent(eventName, url)
			{
			    gtag('event', eventName, {
			        'event_category': 'Internal Linking',
			        'event_label': url,
			        'value': 1
			    });
			}
        </script>
	{% endif %}
{% endblock %}

{# {% block header %}
	{% if isFirstPage and blog.popularPosts.count %}
		{% set popularPostsCacheKey = "popular-posts-" ~ blog.popularPosts.ids() | join('-') %}
		{% cache using key popularPostsCacheKey %}
			<section class="blog-row">
				<div class="container">
					{% if entry.ctaText2 | length %}
						{% set h2CTAs = entry.ctaText2 | split('~') %}
						{% if h2CTAs | length > 1 %}
							<h2 class="hide-sm-up">{{ h2CTAs[0] }}</h2>
							<h2 class="hide-sm-down">{{ h2CTAs[1] }}</h2>
						{% else %}
							<h2>{{ entry.ctaText2 }}</h2>
						{% endif %}
					{% else %}
						<h2>Popular Articles</h2>
					{% endif %}
					<div class="scroll-pane">
						<div>
							{% for blog in blog.popularPosts %}
								<article>
									{% if blog.blogImage.count %}
										{% set img = blog.blogImage.one() %}
										{% set cat = blog.topic.one() %}
										<a class="blog-img" href="{{ blog.url }}" onclick="sendClickEvent('popular_article_clicked', '{{ blog.url }}')">
						        			<picture>
											 	<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 768px)" />
												<img src="{{ img.url('popularPostMobile2023') }}"
													srcset="{{ img.url('popularPostMobile20232x') }} 2x"
												 	alt="{{ img.title }}"
												 	loading="lazy"
													width="{{ img.width('popularPostMobile2023') }}" height="{{ img.height('popularPostMobile2023') }}">
											</picture>
										</a>
										<a class="category" href="{{ cat.url }}">
											{% include '_includes/icons' with { type: 'tag' } %}
											<span>{{ cat.ctaText }}</span>
										</a>
										<a class="blog-title" href="{{ blog.url }}" onclick="sendClickEvent('popular_article_clicked', '{{ blog.url }}')">
											{% if blog.subheadline | length and blog.metaTitle | length and blog.metaTitle != blog.title %}
												<h4>{{ blog.metaTitle }}</h4>
											{% else %}
												<h4>{{ blog.title }}</h4>
											{% endif %}
										</a>
									{% endif %}
				        		</article>
				        	{% endfor %}
			        	</div>
			        </div>
				</div>
			</section>
		{% endcache %}
	{% endif %}
{% endblock %} #}

{% block header %}
	{% if isFirstPage %}

		{# {% set homepageCTACacheKey = "homepage-cta-12-" ~ entry.headline | camel %}
		{% cache using key homepageCTACacheKey %} #}
			<section id="cta-text" class="cta-text">
				{% if not isMobile %}
					{% set img = craft.assets().filename('bp-homepage-parallax-bkg.jpg').one() %}
					{% set transform12 = { mode: 'fit', format: 'webp', width: 1200, quality: 80 } %}
					{% set transform14 = { mode: 'fit', format: 'webp', width: 1400, quality: 80 } %}
					{% set transform16 = { mode: 'fit', format: 'webp', width: 1600, quality: 80 } %}
					{% set transform18 = { mode: 'fit', format: 'webp', width: 1800, quality: 80 } %}
					{% set transform20 = { mode: 'fit', format: 'webp', width: 2000, quality: 80 } %}
					<picture>
						<source srcset="{{ img.url(transform20) }}, {{ img.url(transform20) }} 2x" media="(min-width:1800px)" />
						<source srcset="{{ img.url(transform18) }}, {{ img.url(transform18) }} 2x" media="(min-width:1600px)" />
						<source srcset="{{ img.url(transform16) }}, {{ img.url(transform16) }} 2x" media="(min-width:1400px)" />
						<source srcset="{{ img.url(transform14) }}, {{ img.url(transform14) }} 2x" media="(min-width:1200px)" />
						<img id="hero-plax" class="hero-plax"
							src="{{ img.url(transform12) }}"
							srcset="{{ img.url(transform12) }} 2x"
						 	alt="{{ img.title }}"
						 	loading="eager"
							width="{{ img.width(transform12) }}" height="{{ img.height(transform12) }}">
					</picture>
				{% endif %}
				<div class="container">
					<div class="z-pattern">
						<div>
							{% if entry.headline | length %}
								<h1>{{ entry.headline }}</h1>
							{% endif %}
							{% if entry.richText | length %}
								{{ entry.richText }}
							{% endif %}
						</div>
						<div>
							{% if isMobile %}
								{% set max = 7 %}
								{% set idx = random(range(1, max)) %}
								<img src="/assets/images/bp-homepage-artist-mobile-{{ idx }}.png" alt="{{ entry.headline }}">
							{% else %}
								{% set max = 10 %}
								{% set idx = random(range(1, max)) %}
								<img id="cta-image" data-idx="{{ idx }}" data-max="{{ max }}" src="/assets/images/bp-homepage-artist-{{ idx }}.png" alt="{{ entry.headline }}">
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		{# {% endcache %} #}
	{% endif %}
{% endblock %}

{% block content %}
	{% if isFirstPage %}

	{# 	{% set homepageCTACacheKey = "homepage-cta-" ~ entry.headline | camel %}
		{% cache using key homepageCTACacheKey %}
			<section id="cta-text" class="cta-text">
				<div class="container">
					<div class="z-pattern">
						<div>
							{% if entry.headline | length %}
								<h1>{{ entry.headline }}</h1>
							{% endif %}
							{% if entry.richText | length %}
								{{ entry.richText }}
							{% endif %}
						</div>
						<div>
							{% if isMobile %}
								{% set max = 7 %}
								{% set idx = random(range(1, max)) %}
								<img src="/assets/images/bp-homepage-artist-mobile-{{ idx }}.png" alt="{{ entry.headline }}">
							{% else %}
								{% set max = 10 %}
								{% set idx = random(range(1, max)) %}
								<img id="cta-image" data-idx="{{ idx }}" data-max="{{ max }}" src="/assets/images/bp-homepage-artist-{{ idx }}.png" alt="{{ entry.headline }}">
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		{% endcache %} #}

		{% set featuredCacheKey = "featured-article-" ~ featured.slug %}
		{% cache using key featuredCacheKey %}
			<section class="featured">
				<div class="container">
					<h2>Featured Article</h2>
					<div class="z-pattern">
						<div>
							{% if featured.blogImage.count %}
								{% set img = featured.blogImage.one() %}
								{% set featuredMobile = { mode: 'fit', format: 'webp', width: 380, quality: 80 } %}
								{% set featuredMobile2x = { mode: 'fit', format: 'webp', width: 760, quality: 80 } %}
								{% set featuredSm = { mode: 'fit', format: 'webp', width: 544, quality: 80 } %}
								{% set featuredSm2x = { mode: 'fit', format: 'webp', width: 1088, quality: 80 } %}
								{% set featuredMd = { mode: 'fit', format: 'webp', width: 564, quality: 80 } %}
								{% set featuredMd2x = { mode: 'fit', format: 'webp', width: 1128, quality: 80 } %}
								<a href="{{ featured.url }}" onclick="sendClickEvent('featured_article_clicked', '{{ featured.url }}')">
									<picture>
										<source srcset="{{ img.url(featuredMd) }}, {{ img.url(featuredMd2x) }} 2x" media="(min-width: 576px)" />
										<source srcset="{{ img.url(featuredMobile) }}, {{ img.url(featuredMobile2x) }} 2x" media="(max-width:575px)" />
										<img src="{{ img.url(featuredMobile) }}"
											srcset="{{ img.url(featuredMobile2x) }} 2x"
										 	alt="{{ img.title }}"
										 	loading="lazy"
											width="{{ img.width(featuredMobile) }}" height="{{ img.height(featuredMobile) }}">
									</picture>
								</a>
							{% endif %}
						</div>
						<div>
							{% if featured.title | length %}
								<a href="{{ featured.url }}" onclick="sendClickEvent('featured_article_clicked', '{{ featured.url }}')">
									<h2>{{ featured.title }}</h2>
								</a>
							{% endif %}
							{% if featured.topic.count %}
								{% set cat = featured.topic.one() %}
								<a class="category" href="{{ cat.url }}">
									{% include '_includes/icons' with { type: 'tag' } %}
									<span>{{ cat.ctaText }}</span>
								</a>
							{% endif %}
							{% if featured.shortDescription | length %}
								<p>
									{{ featured.shortDescription }}
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		{% endcache %}

		{% if blog.popularPosts.count %}
			{% set popularPostsCacheKey = "popular-posts-" ~ blog.popularPosts.ids() | join('-') %}
			{% cache using key popularPostsCacheKey %}
				<section class="blog-row">
					<div class="container">
						{% if entry.ctaText2 | length %}
							{% set h2CTAs = entry.ctaText2 | split('~') %}
							{% if h2CTAs | length > 1 %}
								<h2 class="hide-sm-up">{{ h2CTAs[0] }}</h2>
								<h2 class="hide-sm-down">{{ h2CTAs[1] }}</h2>
							{% else %}
								<h2>{{ entry.ctaText2 }}</h2>
							{% endif %}
						{% else %}
							<h2>Popular Articles</h2>
						{% endif %}
						<div class="scroll-pane">
							<div>
								{% for blog in blog.popularPosts %}
									<article>
										{% if blog.blogImage.count %}
											{% set img = blog.blogImage.one() %}
											{% set cat = blog.topic.one() %}
											<a class="blog-img" href="{{ blog.url }}" onclick="sendClickEvent('popular_article_clicked', '{{ blog.url }}')">
							        			<picture>
												 	<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 768px)" />
													<img src="{{ img.url('popularPostMobile2023') }}"
														srcset="{{ img.url('popularPostMobile20232x') }} 2x"
													 	alt="{{ img.title }}"
													 	loading="lazy"
														width="{{ img.width('popularPostMobile2023') }}" height="{{ img.height('popularPostMobile2023') }}">
												</picture>
											</a>
											<a class="category" href="{{ cat.url }}">
												{% include '_includes/icons' with { type: 'tag' } %}
												<span>{{ cat.ctaText }}</span>
											</a>
											<a class="blog-title" href="{{ blog.url }}" onclick="sendClickEvent('popular_article_clicked', '{{ blog.url }}')">
												{% if blog.subheadline | length and blog.metaTitle | length and blog.metaTitle != blog.title %}
													<h4>{{ blog.metaTitle }}</h4>
												{% else %}
													<h4>{{ blog.title }}</h4>
												{% endif %}
											</a>
										{% endif %}
					        		</article>
					        	{% endfor %}
				        	</div>
				        </div>
					</div>
				</section>
			{% endcache %}
		{% endif %}
		
	{% endif %}

	<section class="blog-row">
		<div class="container">
			<h2>Recent Articles</h2>

			{% set recentArticlesCacheKey = "recent-articles-2-" ~ recentPosts | length ~ "-" ~ recentPosts[0].slug %}
			{% cache using key recentArticlesCacheKey %}
				<div class="grid-pane">
					{% for blog in recentPosts %}
						<article>
							<a class="blog-img" href="{{ blog.url }}" onclick="sendClickEvent('recent_article_clicked', '{{ blog.url }}')">
								{% if blog.blogImage.count %}
									{% set img = blog.blogImage.one() %}
								{% else %}
									{% set img = defaultBlogImage %}
								{% endif %}
			        			<picture>
								 	<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 820px)" />
									<img src="{{ img.url('recentPostsMobile2023') }}"
										srcset="{{ img.url('recentPostsMobile20232x') }} 2x"
									 	alt="{{ img.title }}"
									 	loading="lazy"
										width="{{ img.width('recentPostsMobile2023') }}" height="{{ img.height('recentPostsMobile2023') }}">
								</picture>
								
							</a>
							{% if blog.topic.count %}
								{% set cat = blog.topic.one() %}
								<a class="category" href="{{ cat.url }}">
									{% include '_includes/icons' with { type: 'tag' } %}
									<span>{{ cat.ctaText }}</span>
								</a>
							{% endif %}
							<a class="blog-title" href="{{ blog.url }}" onclick="sendClickEvent('recent_article_clicked', '{{ blog.url }}')">
								{% if blog.subheadline | length and blog.metaTitle | length and blog.metaTitle != blog.title %}
									<h4>{{ blog.metaTitle }}</h4>
								{% else %}
									<h4>{{ blog.title }}</h4>
								{% endif %}
							</a>
		        		</article>
		        	{% endfor %}
	        	</div>
			{% endcache %}

        	{% if pageInfo.total > (postsPerPage + 1) %}
				<div class="container">
			    	{% include '_includes/pagination' %}
			    </div>
			{% endif %}

		</div>
	</section>

	{% if isFirstPage %}
		{% include '_includes/band-carousel' with { enlarged: false } %}
	{% endif %}

{% endblock %}