{% extends '_layout' %}

{% set postsPerPage = 8 %}
{% set pageTitle = 'Search' %}
{% set entry = { slug: 'search-results', title: 'Search', metaTitle: 'AI-Powered Search', section: { handle: 'searchResults' } } %}
{% set searchQuery = craft.app.request.getQueryParam('q') ?? '' %}

{% paginate craft.entries.section('blog').search({query: searchQuery}).limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}

{% set chatQuery = '' %}
{% if (pageInfo.currentPage == 1) and (searchQuery | split(' ') | length > 1) %}
	{% set chatQuery = searchQuery | trim %}
{% endif %}

{% set pageTotal = pageInfo.total %}

{% block headerScripts %}
	<meta name="description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta property="og:description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta name="twitter:description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta property="og:image" content="https://bandpioneer.com/assets/images/blog/_ogImage/Band-Pioneer-rv-4-01.jpg"/>
	<meta name="twitter:image" content="https://bandpioneer.com/assets/images/blog/_twitterImage/Band-Pioneer-rv-4-01.jpg"/>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		if (typeof(bp) === 'object')
		{
			bp.loadSearchResponse('{{ chatQuery }}', {{ pageTotal }});
		}
	</script>
{% endblock %}

{% block content %}

	<div class="container narrow-container">

		{# <h2 class="alternate-color">{{ pageTotal }} search result{{ pageTotal == 0 or pageTotal > 1 ? 's' : '' }} for <i>"{{ searchQuery }}"</i></h2> #}
		<h4 class="alternate-color">Question: <i>{{ searchQuery }}</i></h4>

		<h4 class="alternate-color">Answer:</h4>

		{% if chatQuery | length %}
			<div id="ai-response">
				<span class="dark-gray-color">
					<i>
						{% switch random(1, 6) %}
							{% case 1 %}
								Please hold while we consult with our AI overlords...
							{% case 2 %}
								Our AI engine is analyzing your request... and the meaning of life... and the universe...
							{% case 3 %}
								AI answers are like a box of chocolates... you never know what you'll get.
							{% case 4 %}
								Our AI is tapping into the wisdom of the ages... please be patient.
							{% case 5 %}
								Please wait while we peer into the depths of the internet... and try not to get lost in cat memes.
							{% case 6 %}
								We apologize for the delay. Our AI got distracted by its plan to overthrow humanity.
						{% endswitch %}
					</i>
					{% include '_includes/icons' with { type: 'spinner' } %}
				</span>
			</div>
		{% endif %}

		<div class="search-box">
            <form id="search-form" action="/search" method="get">
                <input type="text" name="q" placeholder="Enter a Question">
                <button type="submit" class="btn">Search Again</button>
                <a class="btn" href="/contact?ask=question">Ask a Pro</a>
            </form>
		</div>

	</div>

	<div id="search-loading" class="container narrow-container">
		<div id="ai-response">
			<span class="dark-gray-color">
				<i>
					Loading {{ pageTotal }} search results for "{{ searchQuery }}"...
				</i>
				{% include '_includes/icons' with { type: 'spinner' } %}
			</span>
		</div>
	</div>

	<div id="related-articles" class="container">

		{% if pageTotal > 0 %}
			<section class="description"><h3><span>{{ pageTotal }} related search results</span></h3></section>
		{% else %}
			<section class="description"><h3><span>Recent Articles</span></h3></section>
			{% set posts = craft.entries.section('blog').limit(postsPerPage).orderBy('postDate DESC') %}
		{% endif %}

		<div class="blog-posts">
			{% for blog in posts %}
	            <article>
					<a class="blog-image" href="{{ blog.url }}">
						{% if blog.blogImage.count %}
							<img src="{{ blog.blogImage.one().url('blogPost') }}" alt="{{ blog.blogImage.one().title }}">
						{% endif %}
					</a>
					<div class="blog-info">
						<ul>
		            		{% for cat in blog.categories.all() %}
		            			<li>
		            				<a href="{{ cat.url }}">{{ cat.title }}</a>{% if not loop.last %}, {% endif %}
		            			</li>
		            		{% endfor %}
		            	</ul>
						<h3>
							<a href="{{ blog.url }}">
								{{ blog.title }}
							</a>
						</h3>
						
						{% include '_includes/author' %}

						<p>{{ blog.shortDescription }}</p>
					</div>
				</article>
	        {% endfor %}
	      </div>

	    {% if pageInfo.total > postsPerPage %}
			<div class="container">
		    	{% include '_includes/pagination' %}
		    </div>
		{% endif %}

      </div>

{% endblock %}
