{% extends '_layout' %}

{% set postsPerPage = 8 %}
{% set pageTitle = 'Search' %}
{% set entry = { slug: 'search-results', title: 'Search', section: { handle: 'searchResults' } } %}
{% set searchQuery = craft.app.request.getQueryParam('q') ?? '' %}

{% paginate craft.entries.section('blog').search({query: searchQuery}).limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}

{% set chatQuery = '' %}
{% if (pageInfo.currentPage == 1) and (searchQuery | split(' ') | length > 1) %}
	{% set chatQuery = searchQuery %}
{% endif %}

{% set pageTotal = pageInfo.total %}

{% block scripts %}
	<script type="text/javascript">
		if (typeof(bp) === 'object')
		{
			bp.aiSearchQuery('{{ chatQuery }}');
		}
	</script>
{% endblock %}

{% block content %}

	<div class="container narrow-container">

		<h2 class="alternate-color">{{ pageTotal }} search result{{ pageTotal == 0 or pageTotal > 1 ? 's' : '' }} for <i>"{{ searchQuery }}"</i></h2>

		<div id="ai-response">
			<span class="dark-gray-color">
				<i>... Loading AI Response (Powered by Chat GPT)</i>
				{% include '_includes/icons' with { type: 'spinner' } %}
			</span>
		</div>

		<div class="search-box">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Enter a Question">
                <button type="submit" class="btn">Search Again</button>
                <a class="btn" href="/contact?ask=question">Ask a Pro</a>
            </form>
		</div>

	</div>

	<div class="container">

		<div class="blog-posts">
			{% for blog in posts %}
	            <article>
					<a class="blog-image" href="{{ blog.url }}">
						{% if blog.blogImage.count %}
							<img src="{{ blog.blogImage.one().url('blogPost') }}" alt="{{ blog.blogImage.one().title }}">
						{% endif %}
					</a>
					<div class="blog-info">
						<ul>
		            		{% for cat in blog.categories.all() %}
		            			<li>
		            				<a href="{{ cat.url }}">{{ cat.title }}</a>{% if not loop.last %}, {% endif %}
		            			</li>
		            		{% endfor %}
		            	</ul>
						<h3>
							<a href="{{ blog.url }}">
								{{ blog.title }}
							</a>
						</h3>
						
						{% include '_includes/author' %}

						<p>{{ blog.shortDescription }}</p>
					</div>
				</article>
	        {% endfor %}
	      </div>

	    {% if pageInfo.total > postsPerPage %}
			<div class="container">
		    	{% include '_includes/pagination' %}
		    </div>
		{% endif %}

      </div>

{% endblock %}
