{% extends '_layout2023' %}

{% set versionNumber = '2.017' %}

{% set postsPerPage = 8 %}
{% set pageTitle = 'Search' %}
{% set entry = { slug: 'search-results', title: 'Search', metaTitle: 'AI-Powered Search', section: { handle: 'searchResults' } } %}
{% set searchQuery = craft.app.request.getQueryParam('q') ?? '' %}

{% paginate craft.entries.section('blog').search({query: searchQuery}).limit(postsPerPage).orderBy('score') as pageInfo, posts %}

{% set chatQuery = '' %}
{% if (pageInfo.currentPage == 1) and (searchQuery | split(' ') | length > 1) %}
	{% set chatQuery = searchQuery | trim %}
{% endif %}

{% set pageTotal = pageInfo.total %}

{% block headerScripts %}
	<meta name="description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta property="og:description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta name="twitter:description" content="Search results and comprehensive answers for all of your music-related inquiries, powered by Chat-GPT."/>
	<meta property="og:image" content="https://bandpioneer.com/assets/images/blog/_ogImage/Band-Pioneer-rv-4-01.jpg"/>
	<meta name="twitter:image" content="https://bandpioneer.com/assets/images/blog/_twitterImage/Band-Pioneer-rv-4-01.jpg"/>
{% endblock %}

{% block scripts %}
	<script defer src="{{ url('js/site.min.js') }}?version={{ versionNumber }}"></script>
	<script defer type="text/javascript">
		document.addEventListener("DOMContentLoaded", function()
        {
            var bp = new BandPioneer.Site(true);
            bp.loadSearchResponse('{{ chatQuery }}', {{ pageTotal }});
        });
	</script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url('css/site2023.css') }}?version={{ versionNumber }}" />
    <link rel="stylesheet" href="{{ url('css/search.css') }}?version={{ versionNumber }}" />
    <style type="text/css">
		section.rich-text.bkg-img:after {
		    background-color: rgba(0, 0, 0, 0.6);
		}
	</style>
{% endblock %}

{% block header %}
	<section class="rich-text bkg-img" style="background-image:url(/assets/images/free-playing-jazz-bass.jpg)">
		<div class="container">
			<h1>AI Assisted Site Search</h1>
		</div>
	</section>
{% endblock %}

{% block content %}

<section>
	<div class="container narrow-container">

		{% if searchQuery | length %}
			<h3>Question: <span>{{ searchQuery }}</span></h4>
			{% if pageInfo.currentPage == 1 %}
				<h3 style="margin-bottom:6px;">Answer:</h4>
			{% endif %}
		{% endif %}

		{% if chatQuery | length %}
			<div id="ai-response">
				<span class="dark-gray-color">
				<br>
					<i>
						{% switch random(1, 6) %}
							{% case 1 %}
								Please wait while we consult with our AI overlords...
							{% case 2 %}
								Our AI engine is analyzing your request... and the meaning of life... and the universe...
							{% case 3 %}
								AI answers are like a box of chocolates, you never know what you're gonna get...
							{% case 4 %}
								Please be patient while our AI engine is tapping into the wisdom of the ages...
							{% case 5 %}
								Please wait while we peer into the depths of the internet... and try not to get lost in cat memes.
							{% case 6 %}
								We apologize for the delay. Our AI got distracted creating plans to overthrow humanity...
						{% endswitch %}
					</i>
					{% include '_includes/icons' with { type: 'spinner' } %}
				</span>
			</div>
		{% endif %}

		<div class="search-box">
            <form id="search-form" action="/search" method="get">
                <input type="text" name="q" placeholder="Enter Another Question">
                <button type="submit" class="btn">Search</button>
            </form>
		</div>

	</div>

	{% if pageInfo.currentPage == 1 %}
		<div id="search-loading" class="container narrow-container">
			<div id="ai-response">
				<span class="dark-gray-color">
					{% if pageTotal > 0 %}
					<i>Loading {{ pageTotal }} related articles for "{{ searchQuery }}"...</i>
					{% else %}
						<i>Loading related articles for "{{ searchQuery }}"...</i>
					{% endif %}
					{% include '_includes/icons' with { type: 'spinner' } %}
				</span>
			</div>
		</div>
	{% endif %}

	<div {% if pageInfo.currentPage == 1 %}id="related-articles" {% endif %}class="container">

		

		<section class="blog-row">
		<div class="container">

			{% if pageTotal > 0 %}
				<h2>{{ pageTotal }} related search results</h2>
			{% else %}
				<h2>Recent Articles</h2>
				{% set posts = craft.entries.section('blog').limit(postsPerPage).orderBy('postDate DESC') %}
			{% endif %}

			<div class="grid-pane">
			{% for blog in posts %}
	            <article>
					<a class="blog-img" href="{{ blog.url }}">
						{% if blog.blogImage.count %}
							{% set img = blog.blogImage.one() %}
							{% set cat = blog.categories.one() %}
		        			<picture>
							 	<source srcset="{{ img.url("fourRowPost2023") }}, {{ img.url('fourRowPost20232x') }} 2x" media="(min-width: 820px)" />
								<img src="{{ img.url('recentPostsMobile2023') }}"
									srcset="{{ img.url('recentPostsMobile20232x') }} 2x"
								 	alt="{{ img.title }}"
								 	loading="lazy"
									width="{{ img.width('recentPostsMobile2023') }}" height="{{ img.height('recentPostsMobile2023') }}">
							</picture>
						{% endif %}
					</a>
					<a class="blog-title" href="{{ blog.url }}">
						<h4>{{ blog.title }}</h4>
					</a>
        		</article>
	        {% endfor %}
	      </div>
	     </div>
	    </section>

	    {% if pageInfo.total > postsPerPage %}
			<div class="container">
		    	{% include '_includes/pagination' %}
		    </div>
		{% endif %}

      </div>
</section>
{% endblock %}
