{% requireLogin %}

{% set versionNumber = '1.06' %}
{% set error = craft.app.session.getFlash('error') %}
{% set notice = craft.app.session.getFlash('notice') %}

{% import '_includes/macros' as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>{{ siteName }}</title>
        <meta name="robots" content="index,follow,noarchive" />


        {# {% endapply %} #}

        {% apply spaceless %}

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

        {% block styles %}
            <link rel="stylesheet" href="{{ url('css/site.css') }}?version={{ versionNumber }}" /> 
            <link rel="stylesheet" href="{{ url('css/bands.css') }}?version={{ versionNumber }}" /> 
        {% endblock %}

        {% endapply %}

    </head>

    <body class="rockstar fixed-header">


        {% include 'bands/_includes/header' %}
        
        {% if error %}
            <div class="flash-error">
                <span>{{ error }}</span>
            </div>
        {% elseif notice %}
            <div class="flash-notice">
                <span>{{ notice }}</span>
            </div>
        {% endif %}
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        {# {% include '_includes/footer' %} #}


        
        <script src="{{ url('js/site.min.js') }}?version={{ versionNumber }}"></script>
        <script src="{{ url('js/bands.min.js') }}?version={{ versionNumber }}"></script>
        <script>
            var bp = new BandPioneer.Site();
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>