{% extends 'bands/_layout' %}

{% set pageTitle = "Band Dashboard" %}
{% set entry = { slug: 'band-dashboard', title: 'Dashboard', section: { handle: 'dashboard' } } %}

{% block scripts %}
	<script type="text/javascript">
	    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
	    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";

	    {% if craft.app.request.segments | last != 'dashboard' %}
	    	BandPioneerBands.openView('{{ craft.app.request.segments | last }}');
	    {% endif %}
	</script>
{% endblock %}

{% block content %}

	<div class="bands-container dashboard">

		{# BAND ACCOUNT INFORMATION #}

		<section>

			{% if not band.exists %}
				<h3>Welcome to Band Pioneer!</h3>
				<p>To get started, click "EDIT" and tell us about your band or solo act. Once we have this initial information you'll be read to create your Electronic Press Kit.</p>
			{% else %}
				<h3>Band Information</h3>
			{% endif %}
			<p>This is public information for your band (or solo artist), that you would share with fans, scouts, venues, etc.</p>

			<div class="data-container">

				<div id="account-details" class="data-view show">
					{% if band.logo %}
						<p>
							<img src="{{ url(band.logo.url()) }}" alt="Band Logo" title="Band Logo" />
						</p>
					{% endif %}
					{% if band.name | trim | length %}
						<p>
							<strong>Name:</strong> 
							{{ band.name }} 
						</p>
					{% endif %}
					{% if band.phone | trim | length %}
						<p>
							<strong>Phone Number:</strong>
							{{ band.phone }} 
						</p>
					{% endif %}
					{% if band.email | trim | length %}
						<p>
							<strong>Email Address:</strong>
							{{ band.email }} 
							<a class="link-symbol" target="_blank" href="mailto:{{ band.email }}">⎋</a>
						</p>
					{% endif %}
					{% if band.websiteUrl | trim | length %}
						<p>
							<strong>Website URL:</strong>
							{{ band.websiteUrl }} 
							<a class="link-symbol" target="_blank" href="{{ band.websiteUrl }}">⎋</a>
						</p>
					{% endif %}
					{% if band.genres | length %}
						<p>
							<strong>Genre:</strong>
							{% for genre in band.genres %}
								{{ genre.title ~ (not loop.last ? ', ') }}
							{% endfor %}
						</p>
					{% endif %}
				</div>
				
				<form id="edit-account" method="post"  accept-charset="UTF-8" enctype="multipart/form-data" action="/bands/save-band">
					{# <input type="hidden" name="action" value="/bands/save-band"> #}
		            {{ csrfInput() }}
					
					<div class="edit-field">
						<label>Full Name of Band or Artist</label>
						<input type="text" name="name" required placeholder=""{% if band.name | trim | length %} value="{{ band.name }}"{% endif %}>
					</div>

					<div class="edit-field">
						<label>Phone Number</label>
						<input type="tel" name="phone" placeholder="(XXX) XXX-XXXX"{% if band.phone | trim | length %} value="{{ band.phone }}"{% endif %}>
					</div>

					<div class="edit-field">
						<label>Email Address</label>
						<input type="email" name="email" placeholder="me@mybandsite.com"{% if band.email | trim | length %} value="{{ band.email }}"{% endif %}>
					</div>

					<div class="edit-field">
						<label>Website URL</label>
						<input type="url" name="websiteUrl" placeholder="https://mybandsite.com"{% if band.websiteUrl | trim | length %} value="{{ band.websiteUrl }}"{% endif %}>
					</div>

					{% if band.allGenres | length %}
						<div class="edit-field">
							<label>Genre</label>
							<p>Select up to 5 genres that best describe your sound.</p>
							<div class="checkboxes">
								{% for genre in band.allGenres %}
									<label>
										<input type="checkbox" name="genres[{{ loop.index }}]" value="{{ genre.id }}"{% if genre.checked %} checked=true{% endif %}>
										{{ genre.title }}
									</label>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					
					<div class="edit-field">
						<label>Description</label>
						<p>A short 1 paragraph description about your band, style of music, and what people can expect when seeing you perform.</p>
						<textarea name="description">{% if band.description | trim | length %}{{ band.description }}{% endif %}</textarea>
					</div>

					<div class="edit-field">
						<div class="file-upload">
							{% if band.logo %}
								<label data-name="Logo">Logo: <span>{{ band.logo.filename }} <a class="link-symbol" target="_blank" href="{{ band.logo.url() }}">⎋</a></span></label>
								<input type="file" name="logo" class="hide" accept="image/png, image/gif, image/jpeg, image/svg+xml, image/webp" />
								<a class="btn gray-btn upload-btn" href="/">Replace</a>
								<a class="btn gray-btn delete-btn" href="/bands/dashboard" data-logo="{{ band.logo.id }}">Delete</a>
							{% else %}
								<label data-name="Logo">Logo</label>
								<input type="file" name="logo" class="hide" accept="image/png, image/gif, image/jpeg, image/svg+xml, image/webp" />
								<a class="btn gray-btn upload-btn" href="/">Upload an image</a>
							{% endif %}
							<br><br>
						</div>
					</div>

					<button type="submit">Save</button>
				</form>

				<a class="btn" data-segment="band" data-view="account-details" data-edit="edit-account" href="/">Edit</a>

			</div>
		</section>

		{# EPK INFORMATION #}

		{% if band.exists %}

			<section>
				<h3>Electronic Press Kit</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				{% if epk %}
					
					<div class="data-container">

						<h4>General Info</h4>

						<div id="epk-info" class="data-view show">
							{% if epk.enabled %}
								<p>
									<a target="_blank" href="{{ epk.url }}">Click here to view your EPK <span class="link-symbol">⎋</span></a> 
								</p>
							{% else %}
								<p>
									Your EPK is disabled. Click "Edit" and enable it to view it.
								</p>
							{% endif %}
							{% if epk.price.min | trim | length or epk.price.max | trim | length %}
								<p>
									<strong>Price Range:</strong>
									{{ epk.price.min | currency }} to {{ epk.price.max | currency }}
								</p>
							{% endif %}
							{% if epk.length.min | trim | length or epk.length.max | trim | length %}
								<p>
									<strong>Gig Length:</strong>
									{{ epk.length.min }} to {{ epk.length.max }} hours
								</p>
							{% endif %}
							{% if epk.insurance.amount | trim | length or epk.insurance.description | trim | length %}
								<p>
									<strong>Insurance:</strong>
									{{ epk.insurance.amount | currency }} {{ epk.insurance.description }}
								</p>
							{% endif %}
							{% if epk.cta | trim | length %}
								<p>
									<strong>CTA:</strong>
									{{ epk.cta }}
								</p>
							{% endif %}
							{% if epk.bio | trim | length %}
								<label>Bio:</label>
								<p>
									{% set bioWords = epk.bio | split(' ')%}
									{{ (bioWords | length > 50 ? (bioWords | slice(0, 30) | join(' ') ~ '...') : epk.bio) | nl2br }}
								</p>
							{% endif %}
							{% if epk.requirements | trim | length %}
								<label>Requirements:</label>
								<p>
									{% set reqWords = epk.requirements | split(' ')%}
									{{ (reqWords | length > 50 ? (reqWords | slice(0, 30) | join(' ') ~ '...') : epk.requirements) | nl2br }}
								</p>
							{% endif %}
						</div>
						
						<form id="edit-epk-info" method="post"  accept-charset="UTF-8" action="/bands/save-epk-info">
				            {{ csrfInput() }}

				            <div class="edit-field">
								<div class="checkboxes">
									<label>
										<input type="checkbox" name="enabled" value="1"{% if epk.enabled %} checked=true{% endif %}>
										Enabled
									</label>
									<p>Enabling your EPK will create a public URL for you to share your music with the world. Make sure you've included all of the information you want on it first.</p>
								</div>
							</div>

							<div class="edit-field">
								<label>URL Slug</label>
								<p>A slug is the part of a webpage URL that represents your band's name. It can only contain letters, numbers and dashes, but no spaces or special characters. (i.e. guns-n-roses)</p>
								<input type="text" name="slug" maxlength="100" value="{{ epk.slug ?? '' }}">
							</div>

							<div class="edit-field">
								<label>Call to Action (CTA)</label>
								<p>One sentence slogan or marketing phrase to encourage potential clients to hire you.</p>
								<input type="text" name="cta" maxlength="100" value="{{ epk.cta }}">
							</div>

							<div class="edit-field">
								<label>Bio</label>
								<p>Descibe who you are, your style, and what audiences and listeners should expect. This is the first thing potential clients will read about you, so make sure it's accurate and compelling.</p>
								<textarea name="bio">{% if epk.bio | trim | length %}{{ epk.bio }}{% endif %}</textarea>
							</div>

							<div class="edit-field">
								<label>Requirements</label>
								<p>Put notes, technical information, and setup requirements here. Anything potential clients might need to know, like what equipment and lighting you will be bringing, and what you would need them to provide.</p>
								<textarea name="requirements">{% if epk.requirements | trim | length %}{{ epk.requirements }}{% endif %}</textarea>
							</div>

							<div class="edit-field">
								<label>Insurance Description</label>
								<p>If you have liability insurance, list it here.</p>
								<input type="text" name="insurance[description]" maxlength="100" value="{{ epk.insurance.description }}">
							</div>

							<div class="edit-field">
								<label>Insurance Coverage Amount</label>
								<div data-prefix="$">
									<input type="number" min="0" max="100000000" name="insurance[amount]" placeholder="1000.00" value="{{ epk.insurance.amount }}">
								</div>
							</div>

							<div class="edit-field">
								<label>Price Range</label>
								<p>Performance rates can vary depending on gig size, how long you play, and travel and equipment requirements. Include the full range for all types of events you accept.</p>
								<div class="dual-inputs">
									<input type="number" name="price[min]" min="0" max="10000000000" value="{{ epk.price.min }}">
									<span>to</span>
									<input type="number" name="price[max]" min="0" max="10000000000" value="{{ epk.price.max }}">
									<span>dollars</span>
								</div>
							</div>

							<div class="edit-field">
								<label>Gig Length</label>
								<p>The amount of time you prefer to perform, and how long you can play based on the amount of material you have.</p>
									<div class="dual-inputs">
									<input type="number" name="length[min]" min="0" max="100" value="{{ epk.length.min }}">
									<span>to</span>
									<input type="number" name="length[max]" min="0" max="100" value="{{ epk.length.max }}">
									<span>hours</span>
								</div>
							</div>

							<div class="edit-field">
								<label>Social Media URLs</label>
								<p>Add the URLs of your band's social media pages.</p>
								<input type="text" placeholder="Bandcamp (i.e. https://myband.bandcamp.com)" name="social[bandcamp]" maxlength="100" value="{{ epk.social.bandcamp ?? '' }}">
								<input type="text" placeholder="Facebook (i.e. https://www.facebook.com/myband)" name="social[facebook]" maxlength="100" value="{{ epk.social.facebook ?? '' }}">
								<input type="text" placeholder="Instagram (i.e. https://www.instagram.com/myband)" name="social[instagram]" maxlength="100" value="{{ epk.social.instagram ?? '' }}">
								<input type="text" placeholder="SoundCloud (i.e. https://soundcloud.com/myband)" name="social[soundcloud]" maxlength="100" value="{{ epk.social.soundcloud ?? '' }}">
								<input type="text" placeholder="TikTok (i.e. https://www.tiktok.com/@myband)" name="social[tiktok]" maxlength="100" value="{{ epk.social.tiktok ?? '' }}">
								<input type="text" placeholder="Twitter (i.e. https://twitter.com/myband)" name="social[twitter]" maxlength="100" value="{{ epk.social.twitter ?? '' }}">
								<input type="text" placeholder="YouTube (i.e. https://www.youtube.com/@myband)" name="social[youtube]" maxlength="100" value="{{ epk.social.youtube ?? '' }}">
							</div>

							<button type="submit">Save</button>
						</form>

						<a class="btn" data-view="epk-info" data-edit="edit-epk-info" href="/">Edit</a>

					</div>
					
					<div class="data-container">

						

						{# EPK DISPLAY SONGS  #}

						<div id="epk-videos" class="data-view show">
							<h4>EPK Songs</h4>
							<div>
								{# {% for video in epk.videos %} #}
									<div>
										<label>
											adsfsdfsd sadf 
											<form id="delete-video" method="post"  accept-charset="UTF-8" enctype="multipart/form-data" action="/bands/delete-video" style="display: inline;">
				            					{{ csrfInput() }}
				            					<input type="hidden" name="id" value="{{ '34343' }}">
												<a class="action-icon" href="/" onclick="if(confirm('Are you sure you want to delete the video: {{ "video.title" }}?')){ this.parentNode.submit(); }; return false;">{% include "_includes/icons" with { type: 'delete' } %}</a>
											</form>
										</label>
										<div>
											<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253592525&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
										</div>
									</div>
								{# {% endfor %} #}
							</div>
						</div>

						{# EPK DISPLAY VIDEOS  #}

						<div id="epk-videos" class="data-view show">
							<h4>EPK Videos</h4>
							<div>
								{% for video in epk.videos %}
									<div>
										<label>
											{{ video.title }}
											<form id="delete-video" method="post"  accept-charset="UTF-8" enctype="multipart/form-data" action="/bands/delete-video" style="display: inline;">
				            					{{ csrfInput() }}
				            					<input type="hidden" name="id" value="{{ video.id }}">
												<a class="action-icon" href="/" onclick="if(confirm('Are you sure you want to delete the video: {{ video.title }}?')){ this.parentNode.submit(); }; return false;">{% include "_includes/icons" with { type: 'delete' } %}</a>
											</form>
										</label>
										<div class="vhs-player">
											<iframe src="https://www.youtube.com/embed/{{ video.id }}" title="{{ video.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

						{# EPK EDIT VIDEOS #}

						<form id="edit-videos" method="post"  accept-charset="UTF-8" enctype="multipart/form-data" action="/bands/save-video">
							{{ csrfInput() }}

							<label>Video Title</label>
							<input type="text" name="title" placeholder="">

							<label>Video URL</label>
							<input type="text" name="url" placeholder="">

							<button type="submit">Save</button>
						</form>

						<a class="btn" data-view="epk-videos" data-edit="edit-videos" href="/">Add a Video</a>
					</div>

					<div class="data-container">

						{# EPK DISPLAY IMAGES #}

						<div id="epk-images" class="data-view show">
							<h4>EPK Images</h4>
							{% if epk.images %}
								<div>
									{% for img in epk.images %}
										<div>
											<form id="delete-image" method="post" action="/bands/delete-image" style="display: inline;">
				            					{{ csrfInput() }}
				            					<input type="hidden" name="id" value="{{ img.image.id }}">
												<a class="action-icon" href="/" onclick="if(confirm('Are you sure you want to delete the image: {{ img.caption }}?')){ this.parentNode.submit(); }; return false;">{% include "_includes/icons" with { type: 'delete' } %}</a>
											</form>
											<img src="{{ img.image.url }}">
											<label>
												{{ img.caption }}
											</label>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						{# EPK EDIT IMAGES #}

						<form class="file-upload" method="post" accept-charset="UTF-8" enctype="multipart/form-data" action="/bands/save-image">
							{{ csrfInput() }}
							<label data-name="Image"></label>
							<input type="file" name="image" class="hide" accept="image/png, image/gif, image/jpeg, image/svg+xml, image/webp" />
							<input type="hidden" name="caption">
							<a class="btn upload-btn" href="/">Upload an image</a>
						</form>
					</div>
				{% endif %}

			</section>

		{% endif %}

	</div>

{% endblock %}