{% set sectionTitle = entry.title %}

{# {% set numberOfAds = 5 %} #}
{% set titleCounter = 0 %}
{# {% set textCounter = 0 %} #}
{% set textSectionCount = 0 %}
{# {% set adCounter = 0 %} #}
{% set tocLinks = [] %}
{% set blogModules = entry.blogContent.all() %}

{% macro youtubeVideo(mediaId, caption, minuteMark, sectionTitle) %}
	<div class="yt-loader" data-id="{{ mediaId }}" data-caption="{{ caption }}" data-minute="{{ minuteMark }}" data-title="{{ caption | length ? caption : sectionTitle }}"></div>
	
	{# <figure class="video">
		<div class="player">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ mediaId }}{% if minuteMark | length %}?start={{ minuteMark }}{% endif %}" title="{{ caption | length ? caption : sectionTitle }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		{% if caption | length %}
			<figcaption>{{ caption }}</figcaption>
		{% endif %}
	</figure> #}
	
{% endmacro %}

{% macro moduleImage(module) %}
	{% if module.linkUrl | length %}
		<a href="{{ module.linkUrl }}"{% if 'bandpioneer' not in module.linkUrl %} target="_blank"{% endif %}>
	{% endif %}
	{% if module.size | number < 100 %} 
		<style type="text/css">
			@media (min-width: 375px) {
				#blog-img{{ module.id }} {
					width:80%;
				}
			}
			@media (min-width: 576px) {
				#blog-img{{ module.id }} {
					width:{{ module.size }}%;
				}
			}
		</style>
	{% endif %}
	<figure id="blog-img{{ module.id }}" class="image {{ module.margins }}">
		{% if module.noTransform %}
			{% set img = module.blogImage.one() %}
			{% set imgUrl = module.blogImage.one().url() %}
			{% set imgWid = module.blogImage.one().width() %}
			{% set imgHei = module.blogImage.one().height() %}
			<img src="{{ module.blogImage.one().url('blogImageMobile') }}"
			 	alt="{{ module.blogImage.one().title }}"
			 	loading="lazy" 
				srcset="{{ module.blogImage.one().url('blogImageMobile') }} 576w, {{ module.blogImage.one().url('blogImage') }} 800w" 
				sizes="(max-width: 576px) 100vw, 800px"
				width="{{ imgWid }}" height="{{ imgHei }}"> 
		{% else %}
			{% include 'blog/_includes/img' with { img: module.blogImage.one() } %}
		{% endif %}
		{% if module.caption | length %}
			<figcaption>{{ module.caption }}</figcaption>
		{% endif %}
	</figure>
	{% if module.linkUrl | length %}</a>{% endif %}
{% endmacro %}

{% macro rankButtons(rankerKey, rankerValue, entryId, rankOptions) %}
	
	{% set signInMsg = 'Sign in to use this feature' %}
	{% set likePercent = craft.rockstar.getRankItemLikePercent(entryId, rankerKey) %}

	<div class="ranker-buttons"{% if rankerKey | length %} data-ranker="{{rankerKey}}"{% endif %}>
		<input type="hidden" id="key-{{rankerKey}}" name="key" value="{{rankerKey}}">
		<input type="hidden" id="liked-{{rankerKey}}" name="liked" value="">
		<button class="ranker-like" type="button" title="I like {{rankerValue | length ? rankerValue : 'this'}}!"{% if not currentUser %} onclick="bp.login('{{signInMsg}}');"{% endif %}>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M323.8 477.2c-38.2 10.9-78.1-11.2-89-49.4l-5.7-20c-3.7-13-10.4-25-19.5-35l-51.3-56.4c-8.9-9.8-8.2-25 1.6-33.9s25-8.2 33.9 1.6l51.3 56.4c14.1 15.5 24.4 34 30.1 54.1l5.7 20c3.6 12.7 16.9 20.1 29.7 16.5s20.1-16.9 16.5-29.7l-5.7-20c-5.7-19.9-14.7-38.7-26.6-55.5c-5.2-7.3-5.8-16.9-1.7-24.9s12.3-13 21.3-13L448 288c8.8 0 16-7.2 16-16c0-6.8-4.3-12.7-10.4-15c-7.4-2.8-13-9-14.9-16.7s.1-15.8 5.3-21.7c2.5-2.8 4-6.5 4-10.6c0-7.8-5.6-14.3-13-15.7c-8.2-1.6-15.1-7.3-18-15.2s-1.6-16.7 3.6-23.3c2.1-2.7 3.4-6.1 3.4-9.9c0-6.7-4.2-12.6-10.2-14.9c-11.5-4.5-17.7-16.9-14.4-28.8c.4-1.3 .6-2.8 .6-4.3c0-8.8-7.2-16-16-16H286.5c-12.6 0-25 3.7-35.5 10.7l-61.7 41.1c-11 7.4-25.9 4.4-33.3-6.7s-4.4-25.9 6.7-33.3l61.7-41.1c18.4-12.3 40-18.8 62.1-18.8H384c34.7 0 62.9 27.6 64 62c14.6 11.7 24 29.7 24 50c0 4.5-.5 8.8-1.3 13c15.4 11.7 25.3 30.2 25.3 51c0 6.5-1 12.8-2.8 18.7C504.8 238.3 512 254.3 512 272c0 35.3-28.6 64-64 64l-92.3 0c4.7 10.4 8.7 21.2 11.8 32.2l5.7 20c10.9 38.2-11.2 78.1-49.4 89zM32 384c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H32z"/></svg>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-18.5-10.5-34.6-25.9-42.6C497 236.6 504 223.1 504 208c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 384H96c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H32C14.3 96 0 110.3 0 128V352c0 17.7 14.3 32 32 32z"/></svg>
		</button>
		<button class="ranker-dislike" type="button" title="I do not like {{rankerValue | length ? rankerValue : 'this'}}"{% if not currentUser %} onclick="bp.login('{{signInMsg}}');"{% endif %}>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M323.8 477.2c-38.2 10.9-78.1-11.2-89-49.4l-5.7-20c-3.7-13-10.4-25-19.5-35l-51.3-56.4c-8.9-9.8-8.2-25 1.6-33.9s25-8.2 33.9 1.6l51.3 56.4c14.1 15.5 24.4 34 30.1 54.1l5.7 20c3.6 12.7 16.9 20.1 29.7 16.5s20.1-16.9 16.5-29.7l-5.7-20c-5.7-19.9-14.7-38.7-26.6-55.5c-5.2-7.3-5.8-16.9-1.7-24.9s12.3-13 21.3-13L448 288c8.8 0 16-7.2 16-16c0-6.8-4.3-12.7-10.4-15c-7.4-2.8-13-9-14.9-16.7s.1-15.8 5.3-21.7c2.5-2.8 4-6.5 4-10.6c0-7.8-5.6-14.3-13-15.7c-8.2-1.6-15.1-7.3-18-15.2s-1.6-16.7 3.6-23.3c2.1-2.7 3.4-6.1 3.4-9.9c0-6.7-4.2-12.6-10.2-14.9c-11.5-4.5-17.7-16.9-14.4-28.8c.4-1.3 .6-2.8 .6-4.3c0-8.8-7.2-16-16-16H286.5c-12.6 0-25 3.7-35.5 10.7l-61.7 41.1c-11 7.4-25.9 4.4-33.3-6.7s-4.4-25.9 6.7-33.3l61.7-41.1c18.4-12.3 40-18.8 62.1-18.8H384c34.7 0 62.9 27.6 64 62c14.6 11.7 24 29.7 24 50c0 4.5-.5 8.8-1.3 13c15.4 11.7 25.3 30.2 25.3 51c0 6.5-1 12.8-2.8 18.7C504.8 238.3 512 254.3 512 272c0 35.3-28.6 64-64 64l-92.3 0c4.7 10.4 8.7 21.2 11.8 32.2l5.7 20c10.9 38.2-11.2 78.1-49.4 89zM32 384c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H32z"/></svg>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-18.5-10.5-34.6-25.9-42.6C497 236.6 504 223.1 504 208c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 384H96c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H32C14.3 96 0 110.3 0 128V352c0 17.7 14.3 32 32 32z"/></svg>
		</button>
		{# {% if rankOptions != 'likeButtonsOnly' %}
			<button class="ranker-sort" type="button" title="Reorder this list"{% if currentUser %} onclick="bp.openRankerModal('{{entryId}}', '{{rankerKey}}');"{% else %} onclick="bp.login('{{signInMsg}}');"{% endif %}>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
			</button>
		{% endif %} #}
		<span>
		{% if likePercent == 0 %}
			Nobody has liked this yet
		{% else %}
			{{ likePercent }}% of users like this
		{% endif %}
		</span>
	</div>
	
{% endmacro %}

{% if entry.tocStyle == 'nested-list' or entry.tocStyle == 'nested-ordered-list' %}

	{% set parent = null %}
	{% set children = [] %}

	{% for module in blogModules %}

		{% if module.type == "text" %}
			
			{% set textSectionCount = textSectionCount + 1 %}

		{% elseif module.type == 'sectionTitle' or (module.type == 'imageText' and (module.headline | length or module.subheadline | length)) %}

			{% if module.type == "imageText" %}
				{% set textSectionCount = textSectionCount + 1 %}
			{% endif %}

			{% set isParent = (module.headline | trim | length) %}

			{% set modHeadline = module.alternateTocText %}
			{% if modHeadline | length == 0 %}
				{% set modHeadline = module.headline | trim | length == 0 ? module.subheadline : module.headline %}
			{% endif %}

			{% if isParent %}

				{% if parent != null %}
					{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
				{% endif %}

				{% set parent = { id: module.id, headline: modHeadline } %}
				{% set children = [] %}

			{% else %}

				{% set children = children | merge([{ id: module.id, headline: modHeadline }]) %}

			{% endif %}

		{% endif %}
	{% endfor %}

	{% if parent != null %}
		{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
	{% endif %}

{% elseif entry.tocStyle != 'none' %}

	{% for module in blogModules %}
		
		{% if module.type == "text" %}
			
			{% set textSectionCount = textSectionCount + 1 %}

		{% elseif (module.type == 'sectionTitle' or module.type == 'imageText') and (module.headline | trim | length or module.subheadline | trim | length) %}
			
			{% if module.type == "imageText" %}
				{% set textSectionCount = textSectionCount + 1 %}
			{% endif %}
			
			{% set modHeadline = module.alternateTocText %}
			{% if modHeadline | length == 0 %}
				{% set modHeadline = module.headline | length == 0 ? module.subheadline : module.headline %}
			{% endif %}
			{% set tocLinks = tocLinks | merge([{ id: module.id, headline: modHeadline }]) %}

		{% endif %}

	{% endfor %}
{% else %}
	{% for module in blogModules %}
		{% if module.type == "text" or module.type == 'imageText' %}
			{% set textSectionCount = textSectionCount + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

<div class="container{% if tocLinks | length > 1 %} blog-container{% else %} narrow-container{% endif %}">

	{% if tocLinks | length > 1 %}
		{% set openFirstChild = ('expanded' in entry.tocDefault.value) %}
		<div class="table-of-contents {% if tocLinks | length > 10 %} compressed-list{% endif %}">
			<label class="section-title">
				<span>Table of Contents</span>
				<i>{% include '_includes/icons' with { type: 'down' } %}</i>
			</label>
			<ul class="close">
				{% for tl in tocLinks %}
					<li>
						{% if tl.children is defined %}
							<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
							{% if tl.children | length %}
								{% if openFirstChild %}
									{% set openFirstChild = (entry.tocDefault.value == 'expanded') %}
									<input type="checkbox" id="child-{{ tl.id }}" checked=true />
								{% else %}
									<input type="checkbox" id="child-{{ tl.id }}" />
								{% endif %}
								<label for="child-{{ tl.id }}">{% include '_includes/icons' with { type: 'down' } %}</label>
								<ul>
									{% for child in tl.children %}
										<li>
											{% if entry.tocStyle == 'nested-ordered-list' %}
												<a href="#section-{{ child.id }}">{{ child.headline }}</a>
											{% else %}
												{% set firstCharacter = child.headline | slice(0, 1) %}
												 <a href="#section-{{ child.id }}">{{ child.headline }}</a>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						{% else %}
							{% if entry.tocStyle == 'ordered-list' %}
								<a href="#section-{{ tl.id }}">{{ loop.index }}. {{ tl.headline }}</a>
							{% else %}
								<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
							{% endif %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="blog-body{% if entry.tocStyle == 'none' %} no-toc{% endif %}">

		{% if entry.type == 'dynamic' and entry.longText | length %}
			<section class="rich-text">
				{{ entry.longText }}
			</section>
		{% endif %}

		{% for module in blogModules %}

			{% switch module.type %}

				{% case "sectionTitle" %}

					{% set titleCounter = titleCounter + 1 %}
					{% set sectionTitle = module.headline %}
					
					<section class="{% if entry.sectionStyle and entry.sectionStyle != 'default' %}{{ entry.sectionStyle.value }}{% endif %}">
						
						<div id="section-{{ module.id }}" class="section-anchor"></div>
						{% if  module.headline | length %}
							<h2>{% if entry.change %}{{ titleCounter }}. {% endif%}{{ module.headline }}</h2>
						{% endif %}
						{% if  module.subheadline | length %}
							<h3>{{ module.subheadline }}</h3>
						{% endif %}

						{% if entry.enableRanking and module.rankerKey | length %}
							{{ _self.rankButtons(module.rankerKey, module.rankerValue, entry.id, entry.rankOptions) }}
						{% endif %}

					</section>

				{% case "image" %}

					<section class="image-module"{% if module.background | length %} style="background-color:{{ module.background }}; border-radius: 4px;"{% endif %}>
						{{ _self.moduleImage(module) }}
					</section>

				{% case "imageText" %}

					{% set titleCounter = titleCounter + 1 %}

					<section class="image-text-module{% if entry.sectionStyle and entry.sectionStyle != 'default' %} {{ entry.sectionStyle.value }}{% endif %}">

						{% if module.headline | length or module.subheadline | length %}
							<div id="section-{{ module.id }}" class="section-anchor"></div>
							{% if  module.headline | length %}
								<h2>{% if entry.change %}{{ titleCounter }}. {% endif%}{{ module.headline }}</h2>
							{% endif %}
							{% if  module.subheadline | length %}
								<h3>{{ module.subheadline }}</h3>
							{% endif %}
						{% endif %}

						{% if entry.enableRanking and module.rankerKey | length %}
							{{ _self.rankButtons(module.rankerKey, module.rankerValue, entry.id, entry.rankOptions) }}
						{% endif %}

						{% if module.blogImage.count %}
							{{ _self.moduleImage(module) }}
						{% endif %}

						{% if module.richText | length %}
							{{ module.richText }}
						{% endif %}

					</section>

				{% case "embedCode" %}

					<section class="embed-code">
						{% if module.figureType | length %}
							<figure class="{{ module.figureType }}">
								<div>
									{{ module.markup | raw }}
								</div>
								{% if module.figureCaption | length %}
									<figcaption>{{ module.figureCaption }}</figcaption>
								{% endif %}		
							</figure>
						{% else %}
							{{ module.markup | raw }}
						{% endif %}
					</section>

				{% case "text" %}

					{# If next module is media close after it #}

					{% set nextModule = blogModules[loop.index] ?? null %}
					{% set closeSection = (nextModule and nextModule.type == "media") ? false : true %}

					<section class="rich-text{% if entry.sectionStyle and entry.sectionStyle != 'default' %} {{ entry.sectionStyle.value }}{% endif %}">
						{{ module.richText }}
					{% if closeSection %}
						</section>
					{% endif %}

				{% case "media" %}

					{# Skip opening section tag if following text module #}

					{% set previousModule = blogModules[loop.index - 2] ?? null %}
					{% set openSection = (previousModule and previousModule.type == "text") ? false : true %}

					{% if openSection %}
						<section>
					{% endif %}

					{% if module.mediaType == "instagram" %}
						<figure class="instagram-media" data-id="{{ module.mediaId }}">
							{% if module.caption | length %}
								<figcaption>{{ module.caption }}</figcaption>
							{% endif %}
						</figure>
					{% elseif module.mediaId2 | length %}
						<div class="side-by-side">
							{{ _self.youtubeVideo(module.mediaId, module.caption, module.minuteMark, sectionTitle) }}
							{{ _self.youtubeVideo(module.mediaId2, module.caption2, module.minuteMark2, sectionTitle) }}	
						</div>
					{% else %}
						{{ _self.youtubeVideo(module.mediaId, module.caption, module.minuteMark, sectionTitle) }}

					{% endif %}

					</section>

			{% endswitch %}
		{% endfor %}

		<br>
		<div class="sharethis-inline-share-buttons"></div>

	</div>

</div>