{% set sectionTitle = entry.title %}

{# {% set numberOfAds = 5 %} #}
{% set titleCounter = 0 %}
{# {% set textCounter = 0 %} #}
{% set textSectionCount = 0 %}
{# {% set adCounter = 0 %} #}
{% set tocLinks = [] %}
{% set blogModules = entry.blogContent.all() %}

{% macro youtubeVideo(mediaId, caption, minuteMark, sectionTitle) %}
	<figure class="video">
		<div class="player">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ mediaId }}{% if minuteMark | length %}?start={{ minuteMark }}{% endif %}" title="{{ caption | length ? caption : sectionTitle }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		{% if caption | length %}
			<figcaption>{{ caption }}</figcaption>
		{% endif %}
	</figure>
{% endmacro %}

{% macro moduleImage(module) %}
	{% if module.linkUrl | length %}
		<a href="{{ module.linkUrl }}"{% if 'bandpioneer' not in module.linkUrl %} target="_blank"{% endif %}>
	{% endif %}
	{% if module.size | number < 100 %} 
		<style type="text/css">
			@media (min-width: 375px) {
				#blog-img{{ module.id }} {
					width:80%;
				}
			}
			@media (min-width: 576px) {
				#blog-img{{ module.id }} {
					width:{{ module.size }}%;
				}
			}
		</style>
	{% endif %}
	<figure id="blog-img{{ module.id }}" class="image {{ module.margins }}">
		{% if module.noTransform %}
			{% set img = module.blogImage.one() %}
			{% set imgUrl = module.blogImage.one().url() %}
			{% set imgWid = module.blogImage.one().width() %}
			{% set imgHei = module.blogImage.one().height() %}
			<img src="{{ module.blogImage.one().url('blogImageMobile') }}"
			 	alt="{{ module.blogImage.one().title }}"
			 	loading="lazy" 
				srcset="{{ module.blogImage.one().url('blogImageMobile') }} 576w, {{ module.blogImage.one().url('blogImage') }} 800w" 
				sizes="(max-width: 576px) 100vw, 800px"
				width="{{ imgWid }}" height="{{ imgHei }}"> 
		{% else %}
			{% include 'blog/_includes/img' with { img: module.blogImage.one() } %}
		{% endif %}
		{% if module.caption | length %}
			<figcaption>{{ module.caption }}</figcaption>
		{% endif %}
	</figure>
	{% if module.linkUrl | length %}</a>{% endif %}
{% endmacro %}

{% if entry.tocStyle == 'nested-list' or entry.tocStyle == 'nested-ordered-list' %}

	{% set parent = null %}
	{% set children = [] %}

	{% for module in blogModules %}

		{% if module.type == "text" %}
			
			{% set textSectionCount = textSectionCount + 1 %}

		{% elseif module.type == 'sectionTitle' or (module.type == 'imageText' and (module.headline | length or module.subheadline | length)) %}

			{% if module.type == "imageText" %}
				{% set textSectionCount = textSectionCount + 1 %}
			{% endif %}

			{% set isParent = (module.headline | trim | length) %}

			{% set modHeadline = module.alternateTocText %}
			{% if modHeadline | length == 0 %}
				{% set modHeadline = module.headline | trim | length == 0 ? module.subheadline : module.headline %}
			{% endif %}

			{% if isParent %}

				{% if parent != null %}
					{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
				{% endif %}

				{% set parent = { id: module.id, headline: modHeadline } %}
				{% set children = [] %}

			{% else %}

				{% set children = children | merge([{ id: module.id, headline: modHeadline }]) %}

			{% endif %}

		{% endif %}
	{% endfor %}

	{% if parent != null %}
		{% set tocLinks = tocLinks | merge([{ id: parent.id, headline: parent.headline, children: children }]) %}
	{% endif %}

{% elseif entry.tocStyle != 'none' %}

	{% for module in blogModules %}
		
		{% if module.type == "text" %}
			
			{% set textSectionCount = textSectionCount + 1 %}

		{% elseif (module.type == 'sectionTitle' or module.type == 'imageText') and (module.headline | trim | length or module.subheadline | trim | length) %}
			
			{% if module.type == "imageText" %}
				{% set textSectionCount = textSectionCount + 1 %}
			{% endif %}
			
			{% set modHeadline = module.alternateTocText %}
			{% if modHeadline | length == 0 %}
				{% set modHeadline = module.headline | length == 0 ? module.subheadline : module.headline %}
			{% endif %}
			{% set tocLinks = tocLinks | merge([{ id: module.id, headline: modHeadline }]) %}

		{% endif %}

	{% endfor %}
{% else %}
	{% for module in blogModules %}
		{% if module.type == "text" or module.type == 'imageText' %}
			{% set textSectionCount = textSectionCount + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

<div class="container{% if tocLinks | length > 1 %} blog-container{% else %} narrow-container{% endif %}">

	{% if tocLinks | length > 1 %}
		{% set openFirstChild = ('expanded' in entry.tocDefault.value) %}
		<div class="table-of-contents {% if tocLinks | length > 10 %} compressed-list{% endif %}">
			<label class="section-title">
				<span>Table of Contents</span>
				<i>{% include '_includes/icons' with { type: 'down' } %}</i>
			</label>
			<ul>
				{% for tl in tocLinks %}
					<li>
						{% if tl.children is defined %}
							<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
							{% if tl.children | length %}
								{% if openFirstChild %}
									{% set openFirstChild = (entry.tocDefault.value == 'expanded') %}
									<input type="checkbox" id="child-{{ tl.id }}" checked=true />
								{% else %}
									<input type="checkbox" id="child-{{ tl.id }}" />
								{% endif %}
								<label for="child-{{ tl.id }}">{% include '_includes/icons' with { type: 'down' } %}</label>
								<ul>
									{% for child in tl.children %}
										<li>
											{% if entry.tocStyle == 'nested-ordered-list' %}
												<a href="#section-{{ child.id }}">{{ child.headline }}</a>
											{% else %}
												{% set firstCharacter = child.headline | slice(0, 1) %}
												 <a href="#section-{{ child.id }}">{{ child.headline }}</a>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						{% else %}
							{% if entry.tocStyle == 'ordered-list' %}
								<a href="#section-{{ tl.id }}">{{ loop.index }}. {{ tl.headline }}</a>
							{% else %}
								<a href="#section-{{ tl.id }}">{{ tl.headline }}</a>
							{% endif %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="blog-body{% if entry.tocStyle == 'none' %} no-toc{% endif %}">

		{% if entry.type == 'dynamic' and entry.longText | length %}
			<section class="rich-text">
				{{ entry.longText }}
			</section>
		{% endif %}

		{% for module in blogModules %}

			{% switch module.type %}

				{% case "sectionTitle" %}

					{% set titleCounter = titleCounter + 1 %}
					{% set sectionTitle = module.headline %}
					
					<section{% if entry.sectionStyle and entry.sectionStyle != 'default' %} class="{{ entry.sectionStyle.value }}"{% endif %}>
						<div id="section-{{ module.id }}" class="section-anchor"></div>
						{% if  module.headline | length %}
							<h2>{% if entry.change %}{{ titleCounter }}. {% endif%}{{ module.headline }}</h2>
						{% endif %}
						{% if  module.subheadline | length %}
							<h3>{{ module.subheadline }}</h3>
						{% endif %}
					</section>

				{% case "image" %}

					<section class="image-module"{% if module.background | length %} style="background-color:{{ module.background }}; border-radius: 4px;"{% endif %}>
						{{ _self.moduleImage(module) }}
					</section>

				{% case "imageText" %}

					{% set titleCounter = titleCounter + 1 %}

					<section class="image-text-module{% if entry.sectionStyle and entry.sectionStyle != 'default' %} {{ entry.sectionStyle.value }}{% endif %}">

						{% if module.headline | length or module.subheadline | length %}
							<div id="section-{{ module.id }}" class="section-anchor"></div>
							{% if  module.headline | length %}
								{# <h2>{% if entry.tocStyle == 'ordered-list' %}{{ titleCounter }}. {% endif%}{{ module.headline }}</h2> #}
								<h2>{% if entry.change %}{{ titleCounter }}. {% endif%}{{ module.headline }}</h2>
							{% endif %}
							{% if  module.subheadline | length %}
								<h3>{{ module.subheadline }}</h3>
							{% endif %}
						{% endif %}

						{% if module.blogImage.count %}
							{{ _self.moduleImage(module) }}
						{% endif %}

						{% if module.richText | length %}
							{{ module.richText }}
						{% endif %}

					</section>

					{### EZOIC blog-in-content ###}
				{# 	{% set textCounter = textCounter + 1 %}
					{% set adSpots = [1] %}
					{% set adSpots = adSpots | merge(((2..numberOfAds) | map(i => floor(textSectionCount * (i - 1) / (numberOfAds - 1))))) %}
					{% if textCounter in adSpots %}
						{% set adCounter = adCounter + 1 %}
						<div class="advert"><div id="ezoic-pub-ad-placeholder-13{{ adCounter }}"></div></div>
					{% endif %} #}

				{% case "embedCode" %}

					<section class="embed-code">
						{% if module.figureType | length %}
							<figure class="{{ module.figureType }}">
								<div>
									{{ module.markup | raw }}
								</div>
								{% if module.figureCaption | length %}
									<figcaption>{{ module.figureCaption }}</figcaption>
								{% endif %}		
							</figure>
						{% else %}
							{{ module.markup | raw }}
						{% endif %}
					</section>

				{% case "text" %}

					{# If next module is media close after it #}

					{% set nextModule = blogModules[loop.index] ?? null %}
					{% set closeSection = (nextModule and nextModule.type == "media") ? false : true %}

					<section class="rich-text{% if entry.sectionStyle and entry.sectionStyle != 'default' %} {{ entry.sectionStyle.value }}{% endif %}">
						{{ module.richText }}
					{% if closeSection %}
						</section>
					{% endif %}

					{### EZOIC blog-in-content ###}
					{# {% set textCounter = textCounter + 1 %}
					{% set adSpots = [1] %}
					{% set adSpots = adSpots | merge(((2..numberOfAds) | map(i => floor(textSectionCount * (i - 1) / (numberOfAds - 1))))) %}
					{% if textCounter in adSpots %}
						{% set adCounter = adCounter + 1 %}
						<div class="advert"><div id="ezoic-pub-ad-placeholder-13{{ adCounter }}"></div></div>
					{% endif %} #}

				{% case "media" %}

					{# Skip opening section tag if following text module #}

					{% set previousModule = blogModules[loop.index - 2] ?? null %}
					{% set openSection = (previousModule and previousModule.type == "text") ? false : true %}

					{% if openSection %}
						<section>
					{% endif %}

					{% if module.mediaType == "instagram" %}
						<figure class="instagram-media" data-id="{{ module.mediaId }}">
							{% if module.caption | length %}
								<figcaption>{{ module.caption }}</figcaption>
							{% endif %}
						</figure>
					{% elseif module.mediaId2 | length %}
						<div class="side-by-side">
							{{ _self.youtubeVideo(module.mediaId, module.caption, module.minuteMark, sectionTitle) }}
							{{ _self.youtubeVideo(module.mediaId2, module.caption2, module.minuteMark2, sectionTitle) }}	
						</div>
					{% else %}
						{{ _self.youtubeVideo(module.mediaId, module.caption, module.minuteMark, sectionTitle) }}

					{% endif %}

					</section>

			{% endswitch %}
		{% endfor %}

		<br>
		<div class="sharethis-inline-share-buttons"></div>

	</div>

</div>