{% import '_includes/macros' as macros %}

{% set showDetails = showDetails is defined ? showDetails : true %}
{% set mobileTransform = transform is defined ? transform : 'blogPostMobile' %}
{% set desktopTransform = transform is defined ? transform : 'blogPost' %}

<div class="blog-posts" data-count="{{ posts | length }}">

	{% for blog in posts %}
        <article>
			<a class="blog-image" {% if blog.type == "external" %}href="{{ blog.websiteUrl }}" target="_blank"{% else %}href="{{ blog.url }}"{% endif %}>
				{% if blog.blogImage.count %}
					{% set img = blog.blogImage.one() %}
					<picture>
						<source srcset="{{ img.url("blogListingDesktop") }}, {{ img.url('blogListingDesktop2x') }} 2x" media="(min-width: 768px)" />
						<source srcset="{{ img.url("blogListingMedium") }}, {{ img.url('blogListingMedium2x') }} 2x" media="(min-width: 576px)" />
						<source srcset="{{ img.url("blogListingMobile") }}, {{ img.url('blogListingMobile2x') }} 2x" media="(max-width:575px)" />
						<img src="{{ img.url('blogListingMobile') }}"
							srcset="{{ img.url('blogListingMobile2x') }} 2x"
						 	alt="{{ img.title }}"
						 	loading="lazy"
							width="{{ img.width('blogListingMobile') }}" height="{{ img.height('blogListingMobile') }}">
					</picture>
				{% endif %}
			</a>
			<div class="blog-info">
				{% if showDetails %}
					{% include '_includes/icons' with { type: 'tag' } %}
					<ul>
	            		{% for cat in blog.categories.all() %}
	            			{% apply spaceless %}
		            			<li>
		            				{% if cat.show %}
		            					<a href="{{ cat.url }}">{{ cat.title }}</a>{% if not loop.last %}, {% endif %}
		            				{% else %}
		            					<span href="{{ cat.url }}">{{ cat.title }}</span>{% if not loop.last %}, {% endif %}
		            				{% endif %}
		            			</li>
		            		{% endapply %}
	            		{% endfor %}
	            	</ul>
	            {% endif %}

				<h3>
					<a {% if blog.type == "external" %}href="{{ blog.websiteUrl }}" target="_blank"{% else %}href="{{ blog.url }}"{% endif %}>
						{{ macros.blogTitle(blog, showDetails) }}
					</a>
				</h3>
				
				{% if showDetails %}
					<p>{{ blog.shortDescription }}</p>
				{% endif %}
			</div>
		</article>

		{### EZOIC blog_posts-in-content ###}
		{% if showAds is defined and showAds %}
			{% if loop.last %}
				<div class="advert{% if posts | length is even %} full-width-advert{% endif %}"><div id="ezoic-pub-ad-placeholder-142"><span class="ad-loader"></span></div></div>
			{% elseif loop.index == 2 %}
				<div class="advert"><div id="ezoic-pub-ad-placeholder-140"><span class="ad-loader"></span></div></div>
			{% elseif loop.index == 6 %}
				<div class="advert"><div id="ezoic-pub-ad-placeholder-141"><span class="ad-loader"></span></div></div>
			{% endif %}
		{% endif %}
    {% endfor %}

</div>