<header class="cc-i-header" role="meta">
    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <strong class="cc-i-author" itemprop="name">            
            {% if comment.name | length %}
                {{- comment.name -}}
            {% elseif comment.author.fullName | length %}
                {{- comment.author.fullName -}}
            {% else %}
                User {{ comment.id }}
            {% endif %}
        </strong>
    </span>

    {% if comment.can('showTimeAgo') %}
        <div class="cc-ll">
            <span class="cc-ll-i">
                <a class="cc-i-share cc-dot" href="{{ craft.app.request.url }}#comment-{{ comment.id }}"><time itemprop="commentTime" title="{{ comment.commentDate | date('D M j Y H:i:s \\G\\M\\TO (T)') }}" datetime="{{ comment.commentDate | date('c') }}"><small>{{ comment.timeAgo | trim }}</small></time></a>
            </span>
        </div>
    {% endif %}

    <small class="cc-i-header-links {{ comment.hasFlagged() ? 'has-flag' }}">
        {% if comment.can('flag') %}
            <form data-action="flag" role="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="comments/comments/flag">
                <input type="hidden" name="siteId" value="{{ comment.siteId }}">
                <input type="hidden" name="commentId" value="{{ comment.id }}">
                {{ csrfInput() }}

                <button type="submit" class="cc-i-flag">{{ 'Flag' | t('comments') }}</button>
            </form>
        {% endif %}
    </small>
</header>